<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="inex_head">
    <meta charset="UTF-8">
    <title>农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:fragment="header">
    <!--信息-->
    <div class="box">
        <div class="userMsg">
            <ul>
                <li><a href="/LogUser/login">忘记密码?</a></li>
                <li><a href="/LogUser/login">请注册</a></li>
                <li><a th:if="${session.user==null}" href="/LogUser/login">登录</a></li>
                <li><a th:if="${session.user!=null}" href="/LogUser/exit">退出</a></li>
                <li th:if="${session.user!=null}">欢迎：<span th:text="${session.user.userName}"></span></li>
                <li th:if="${session.user==null}"><span></span></li>
            </ul>
        </div>
    </div>
    <!--头部图片-->
    <div class="header">
        <img th:src="@{/images/favicon.png}" alt="" style="vertical-align: super">
        <img th:src="@{/images/title.png}" alt="">
        <form th:action="@{/HomeController/globalSearch}" method="post">
            <input type="text" placeholder="请输入要搜索的关键词" name="findName" class="search" required>
            <input type="submit" value="搜索" class="submit" style="padding: 10px;">
        </form>
    </div>
    <!--导航栏-->
    <div class="nav">
        <ul class="clear">
            <li><a th:href="@{/HomeController/home}">首页</a></li>
            <li class="hover_li">
                <a th:href="@{/HomeController/AchievementHome}">成果展示</a>
                <ul class="son">
                    <li><a th:href="@{/UserManagement/toUserManagement}" th:if="${session.user!=null}" href="/LogUser/login" title="成果发布">成果发布</a></li>
                    <li><a th:href="@{/LogUser/login}" th:if="${session.user==null}"  title="成果发布">成果发布</a></li>
                    <li><a th:href="@{/HomeController/AchievementHome}" title="成果分类导航">成果分类导航</a></li>
                    <li><a th:href="@{/achievement/rankingAchievement}" title="优秀成果推荐">优秀成果推荐</a></li>
                </ul>
            </li>
            <li><a th:href="@{/HomeController/OrganizationHome}">机构服务</a></li>
            <li class="hover_li">
                <a th:href="@{/HomeController/ExpertsHome}">专家服务</a>
                <ul class="son">
                    <li><a th:href="@{/HomeController/ExpertsHome}" title="专家分类导航">专家分类导航</a></li>
                    <li><a th:href="@{/HomeController/selectExperts}" title="专家推荐">专家推荐</a></li>
                </ul>
            </li>
            <li class="hover_li">
                <a th:href="@{/HomeController/SupplyHome}">供需服务</a>
                <ul class="son">
                    <li><a  title="供需对接" th:href="@{/demand/selectAllDemand}">需求案例</a></li>
                    <li><a th:href="@{/HomeController/selectExample}" title="成功案例">成功案例</a></li>
                </ul>
            </li>
            <li><a th:href="@{/HomeController/PolicyHome}">政策服务</a></li>
        </ul>
    </div>
</div>

<footer th:fragment="footer">
    <div class="foot">
        <a href="">联系我们</a>|
        <a href="">关于我们</a>|
        <a href="">免责声明</a><br>
        <p>Copyright©2012-2019 农转网 版权所有 京ICP备05039029号</p>
        <!--<p>主办单位：农业部科技教育司 承办单位：中国农学会 农业部人力资源开发中心</p>-->
        <p>技术支持单位：河南科技学院信息工程学院未来工作室</p>
        <p>不良信息举报中心 网络110报警服务</p>
        <p><img th:src="@{/images/beian.png}" alt="">京公网安备 11010502030296号</p>
    </div>
</footer>
</body>
</html>