<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>农业科技成果转化交易服务平台用户管理</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/adminStyle.css" />
    <link rel="stylesheet" href="../css/admindemo.css" />
	<link rel="shortcut icon" type="img/x-icon" href="../img/favicon.ico"/>
</head>

<body>	
	<header>
		<div class="head-l">
			<!--<img src="../images/favicon.png"/>-->
			<span>农业科技成果转化交易服务平台</span>
		</div>
		<div class="head-r">
			<span>您好，<b>用户user_95271854952</b>，欢迎登陆该平台!</span>
			<span id="data">2016/12/21 上午12:00:00</span>
			<a href="" title="退出登录">
				<img src="../images/退出登录.svg"/>
			</a>
		</div>
	</header>
    <nav class="menu-wrap">
        <div class="menu dowebok">
            <ul>
                <li>
                    <a href="adminIndex.html">
                        <img src="../images/首页-选中.svg"/>
                        <span class="nav-text">首页</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/退出登录.svg"/>
                        <span class="nav-text">登录</span>
                    </a>
                </li>
                <li class="darkerlishadow">
                    <a href="adminType.html">
                        <img src="../images/类型管理.svg">
                        <span class="nav-text">类型管理</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="adminUser.html">
                        <img src="../images/用户管理.svg"/>
                        <span class="nav-text">用户管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminExample.html">
                        <img src="../images/案例管理.svg"/>
                        <span class="nav-text">案例管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminOrganizationType.html">
                        <img src="../images/机构类型.svg"/>
                        <span class="nav-text">机构类型管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminAnnouncement.html">
                        <img src="../images/公告管理.svg"/>
                        <span class="nav-text">公告管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminExperts.html">
                        <img src="../images/专家.svg"/>
                        <span class="nav-text">专家管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminAchievement.html">
                        <img src="../images/成果.svg"/>
                        <span class="nav-text">成果管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <section>
    	<div class="search-collapse">
    		<h3>
				<img src="../images/左箭头.svg" onclick="javascript:window.history.back(-1);" title="返回上一页" alt="返回点击图片"/>
				<img src="../images/成果 (1).svg" alt="" />
    			<span>添加成果</span>
    		</h3>
    	</div>
		<div class="section_table">
    		<figure>
    			<div class="section">
					<table class="table table-bordered">
						<thead>
							<tr>
			                    <th>编号id</th>
			                    <td>
			                    	<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                    </td>
			                    <th>审核状态码</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			               	</tr>	
			               	<tr>
			               		<th>类型名称</th>
			                    <td>
			                    	<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                    </td>
			                    <th>成果名称</th>
				                <td>
				                	<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
				                </td>
			               	</tr>
			               	<tr>
			               		<th>联系人</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>用户id</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			               	</tr>
			                <tr>
			                	<th>发布时间</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>点击量</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                </tr>
			                <tr>
			                	<th>成果简介</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>成果关键词</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                </tr>
			                <tr>
			                	
			                	<th>研发开始时间</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>研发结束时间</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                </tr>
			                <tr>
			                	<th>联系电话</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>手机</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                </tr>
			                <tr>
			                	<th>邮箱</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>联系地址</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                </tr>
			                <tr>
			                	<th>获奖情况</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>预期交易价格（万元）</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                </tr>
			                 <tr>
			                 	<th>知识产权编号</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>知识产权说明</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                </tr>
			                <tr>
			                	<th>产权归属者</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                	<th>产权归属地</th>
			                	<td>
			                		<input type="" name="" id="" value="" />
			                		<img src="../images/modify.svg"/>
			                	</td>
			                </tr>
			                <tr>
			                	<th>成品图片展示（1到3张）</th>
			                	<td colspan="3" class="achievementImg">
			                		<button id="select">(重新)选择图片</button>  
					                <button id="add">(追加)图片</button>  
					                <input type="file" id="file_input" multiple accept="image/*" capture="camera"/> 
					                	<!--用input标签并选择type=file，记得带上multiple，不然就只能单选图片了-->    
					                <button id="submit">添加</button>  
			                	</td>
			                </tr>
						</thead>
					</table>
				</div>
    		</figure>
    	</div>
    </section>

</body>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" src="../js/adminIndex.js" ></script>
	<script type="text/javascript" src="../js/achievement.js" ></script>
</html>