<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>农业科技成果转化交易服务平台注册</title>
	<link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
	<link rel="stylesheet" th:href="@{../css/admindemo.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{../css/jeDate_test.css}">
	<link rel="stylesheet" th:href="@{../css/jedate.css}">
	<style>
		select{
			width: 49%;
		}
		option{
			height: 35px;
		}
	</style>
</head>

<body>
<div th:include="common/adminCommon :: nav"></div>

<section>
	<div class="search-collapse">
		<h3>添加需求</h3>
	</div>
	<div class="section_table">
		<div class="section">
			<div class="popup_table addUserTable">
				<form id="form1" th:action="@{/admin/adminAddDemand}" method="post" onsubmit="javascript:return confirm('你确定要添加一条需求吗？');">
					<table class="table table-bordered addUser">
						<thead>
							<tr>
								<th>需求名字:</th>
								<td>
									<input type="" name="demandName" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<th>预期价格:</th>
								<td>
									<input type="" name="expectedPrice" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<th>需求者：</th>
								<td>
									<input type="" name="demanders" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<th>需求说明：</th>
								<td>
									<input type="" name="demandIntroduce" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<th>联系人：</th>
								<td>
									<input type="" name="linkman" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<th>审核状态码：</th>
								<td>
									<select name="statusCode">
										<option value="">请选择审核状态码</option>
										<option value="0">未审核</option>
										<option value="1">通过</option>
										<option value="2">失败</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>电话：</th>
								<td>
									<input type="" name="phone" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<th>邮箱：</th>
								<td>
									<input type="" name="email" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<th>发布时间：</th>
								<td>
									<div class="jeinpbox">
										<input type="text" name="time" class="jeinput" id="test04" placeholder="YYYY-MM-DD hh:mm:ss" autocomplete="off">
									</div>
								</td>
							</tr>
							<tr>
								<th>点击量：</th>
								<td>
									<input type="" name="pageView" value="" required="required"/>
								</td>
							</tr>
							<tr>
								<td>用户id:	</td>
								<td>
									<input type="" name="userId" required="required">
								</td>
							</tr>
							<tr>
								<td>机构id:	</td>
								<td>
									<input type="" name="organizationTypeId" required="required">
								</td>
							</tr>
						</thead>
					</table>
					<div class="popup_bottom">
						<input type="reset" name="" value="重置" />
						<input type="submit" value="添加"/>
						<a th:href="@{/admin/adminAdminDemand}" class="btn returnList">返回</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


</body>
<script type="text/javascript" th:src="@{../js/jquery-3.3.1.min.js}"></script>
<script th:src="@{../js/jedate.js}"></script>
<script th:src="@{../js/demo.js}"></script>
</html>