<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>农业科技成果转化交易服务平台注册</title>
    <link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
    <link rel="stylesheet" th:href="@{../css/admindemo.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<body>
<div th:include="common/adminCommon :: nav"></div>
    <section>
    	<div class="search-collapse">
    		<h3>
				<img src="../images/左箭头.svg" onclick="javascript:window.history.back(-1);" title="返回上一页" alt="返回点击图片"/>
				<!--<img src="../images/成果 (1).svg" alt="" />-->
    			<span>发布需求</span>
    		</h2>
    	</div>
    	<div class="section_table">
    		<div class="section">
				<div class="apply_expert applyDemand ">
					<div class="applyExpert">
						<label>需求名字</label>
						<input type="text" name="" id="" value="" />
						<label>预期价格</label>
						<input type="text" name="" id="" value="" />
						<label>需求者</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>联系人</label>
						<input type="text" name="" id="" value="" />
						<label>电话</label>
						<input type="text" name="" id="" value="" />
						<label>邮箱</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>机构ID</label>
						<input type="text" name="" id="" value="" />
						<label>用户ID</label>
						<input type="text" name="" id="" value="" />
						<label>类型名称</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>需求说明</label>
						<textarea name="" rows="" cols=""></textarea>
					</div>
				</div>
			</div>
    	</div>
    	
    </section>

</body>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" src="../js/adminIndex.js" ></script>
</html>