<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>农业科技成果转化交易服务平台注册</title>
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
	<link rel="stylesheet" th:href="@{../css/admindemo.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
	<link rel="stylesheet" th:href="@{../css/jeDate_test.css}">
	<link rel="stylesheet" th:href="@{../css/jedate.css}">
</head>
<body>
<div th:include="common/adminCommon :: nav"></div>
    <section>
    	<div class="search-collapse">
    		<h3>
				<img src="../images/左箭头.svg" onclick="javascript:window.history.back(-1);" title="返回上一页" alt="返回点击图片"/>
				<!--<img src="../images/成果 (1).svg" alt="" />-->
    			<span>申请成为专家</span>
    		</h3>
    	</div>
    	<div class="section_table">
    		<div class="section">
				<form th:action="@{/admin/adminAddExperts}" method="post" enctype="multipart/form-data" onsubmit="javascript:return confirm('你确定要添加一名专家吗？');">>
					<div class="apply_expert">
						<div class="applyExpert">
							<label>姓名</label>
							<input type="text" name="expertsName" value="" />
							<label>性别</label>
							<select name="expertsSex">
								<option value="">请选择性别</option>
								<option value="男">男</option>
								<option value="女">女</option>
							</select>
						</div>
						<div class="applyExpert">
							<label>出生日期</label>
							<div class="jeinpbox" style="width: 456px;">
								<input style="width: 91%" type="text" name="time" class="jeinput moredate" placeholder="YYYY-MM-DD" required autocomplete="off">
							</div>
							<label>国籍</label>
							<input type="text" name="expertsCountry" value="" />
						</div>
						<div class="applyExpert">
							<label>学历</label>
							<select name="expertsEducation">
								<option value="">请选择学历</option>
								<option value="研究生">研究生</option>
								<option value="博士研究生">博士研究生</option>
								<option value="硕士研究生">硕士研究生</option>
								<option value="大学">大学</option>
								<option value="大专">大专</option>
								<option value="中专">中专</option>
								<option value="其他">其他</option>
							</select>
							<label>学位</label>
							<select name="degree">
								<option value="">请选择学位</option>
								<option value="名誉博士">名誉博士</option>
								<option value="博士">博士</option>
								<option value="硕士">硕士</option>
								<option value="学士">学士</option>
								<option value="其他">其他</option>
							</select>
						</div>
						<div class="applyExpert">
							<label>毕业院校</label>
							<input type="text" name="school" id="" value="" />
							<label>所学专业</label>
							<input type="text" name="major" value="" />
						</div>
						<div class="applyExpert">
							<label>所在单位</label>
							<input type="text" name="unit" value="" />
							<label>行政职务</label>
							<input type="text" name="position" value="" />
						</div>
						<div class="applyExpert">
							<label>专家类型ID</label>
							<input type="text" name="typeId" value="" />
							<label>用户ID</label>
							<input type="text" name="userId" value="" />
						</div>
						<div class="applyExpert">
							<label>研究领域</label>
							<textarea name="researchField" rows="" cols=""></textarea>
							<label>主要研究成果简介</label>
							<textarea name="researchAchievements" rows="" cols=""></textarea>
						</div>
						<div class="applyExpert">
							<label>个人获奖状况</label>
							<input type="text" name="personalPrize" value="" />
							<label>成果获奖状况</label>
							<input type="text" name="resultsPrize" value="" />
						</div>
						<div class="applyExpert">
							<label>联系方式</label>
							<input type="text" name="expertsPhone" value="" />
							<label>邮箱</label>
							<input type="text" name="expertsEmail" value="" />
						</div>
						<div class="applyExpert">
							<label>点击量</label>
							<input type="text" name="pageView"/>
							<input type="hidden" name=""/>
							<label>审核状态码</label>
							<select name="pageView">
								<option>请选择审核状态码</option>
								<option value="0">未审核</option>
								<option value="1">通过</option>
								<option value="2">失败</option>
							</select>
						</div>
						<div class="applyExpert">
							<label>照片地址</label>
							<div class="all-photo" onclick="photoup()">
								<div class="all-photo-left">
									<span class="upload">点击上传图片</span>
								</div>
								<div class="all-photo-right">
									<img th:src="@{/images/paper.png}" id="imgshow" style="width: 80px;height: 80px;" />
								</div>
							</div>
							<input id="fileds" style="display: none;" name="file" type="file" accept="image/*" value="上传图片" />
						</div>
						<div class="applyExpert" style="text-align: center">
							<input type="reset" name="" value="重置" />
							<input type="submit" value="添加"/>
							<a th:href="@{/admin/adminExpertsList}" class="btn returnList">返回</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>


</body>
	<script type="text/javascript" th:src="@{../js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{../js/jedate.js}"></script>
	<script th:src="@{../js/demo.js}"></script>
<script>
    function photoup() {
        $('#fileds').click();
        $('#fileds').change(function() {
            //获取input file的files文件数组;
            //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
            //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
            var file = $('#fileds').get(0).files[0];
            //创建用来读取此文件的对象
            var reader = new FileReader();
            //使用该对象读取file文件
            reader.readAsDataURL(file);
            //读取文件成功后执行的方法函数
            reader.onload = function(e) {
                //读取成功后返回的一个参数e，整个的一个进度事件
                //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
                //的base64编码格式的地址
                $('#imgshow').get(0).src = e.target.result;
            }
        })
    }

</script>
</html>