<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>农业科技成果转化交易服务平台注册</title>
    <link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
    <link rel="stylesheet" th:href="@{../css/adminDemo.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
    <style>
        td{
            text-align: left!important;
        }
        .typeName input[type=radio]{
            width: auto!important;
        }
        .typeName label{
            vertical-align: top;
        }
    </style>
</head>
<body>

<div th:include="common/adminCommon :: nav"></div>

<section>
    <div class="search-collapse">
        <h3>
            <span>添加机构</span>
        </h3>
    </div>
    <div class="section_table">
        <div class="section">
            <div class="popup_table addUserTable">
                <form method="POST" enctype="multipart/form-data" id="form1" onsubmit="return false">
                    <table class="table table-bordered addUser">
                        <thead>

                            <tr>
                                <th>机构名称</th>
                                <td>
                                    <input type="" name="organizationName" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <b>机构简介</b>
                                <span>
                                    <div id="editor">

                                    </div>
                                </span>
                                <input type="hidden" name="organizationIntroduce" class="organizationIntroduce">
                            </tr>
                            <tr>
                                <th>所在国家</th>
                                <td>
                                    <input type="" name="organizationCountry" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <th>所在地区</th>
                                <td>
                                    <input type="" name="organizationRegion" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <th>法人类别</th>
                                <td>
                                    <input type="" name="legalCategory" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <th>联系人</th>
                                <td>
                                    <input type="" name="linkman" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <th>电话</th>
                                <td>
                                    <input type="" name="phone" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <th>邮箱</th>
                                <td>
                                    <input type="" name="email" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <th>网址</th>
                                <td>
                                    <input type="" name="organizationUrl" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <th>地址</th>
                                <td>
                                    <input type="" name="contactAddress" value="" required="required"/>
                                </td>
                            </tr>
                            <tr>
                                <th>发布者id</th>
                                <td>
                                    <input type="" name="userId" value="" required="required"/>
                                </td>
                            </tr>

                            <tr>
                                <th>机构类型</th>
                                <td>
                                    <div th:each="type : ${typeList}" class="typeName">
                                        <input type="radio" name="typeName" th:id="${type.organizationTypeId}" th:data-id="${type.organizationTypeId}" th:value="${type.typeName}" required/>
                                        <label th:text="${type.typeName}" th:for="${type.typeName}"></label>
                                    </div>
                                    <input type="hidden" name="organizationTypeId" class="TypeId">
                                </td>
                            </tr>
                            <tr>
                                <th>审核状态码</th>
                                <td>
                                    <select name="statusCode">
                                        <option>请选择审核状态码</option>
                                        <option value="0">未审核</option>
                                        <option value="1">通过</option>
                                        <option value="2">失败</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>机构logo</th>
                                <td>
                                    <div class="all-photo" onclick="photoup()">
                                        <div class="all-photo-left">
                                            <span class="upload">点击上传图片</span>
                                        </div>
                                        <div class="all-photo-right">
                                            <img th:src="@{/images/paper.png}" id="imgshow" style="width: 80px;height: 80px;" />
                                        </div>
                                    </div>
                                    <input id="fileds" style="display: none;" name="file" type="file" accept="image/*" value="上传图片" />
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <div class="popup_bottom">
                        <input type="reset" name="" value="重置" />
                        <input onclick="adminContent(),addOrganization()" type="submit" value="添加"/>
                        <a th:href="@{/admin/adminOrganizationList}" class="btn returnList">返回</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


</body>
<script type="text/javascript" th:src="@{../js/jquery-3.3.1.min.js}" ></script>
<script type="text/javascript" th:src="@{../js/wangEditor.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()
</script>
<script type="text/javascript" th:src="@{../js/adminOrganization.js}"></script>
</html>