<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>农业科技成果转化交易服务平台注册</title>
    <link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
    <link rel="stylesheet" th:href="@{../css/adminDemo.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<div th:include="common/adminCommon :: nav"></div>

<section>
    <div class="search-collapse">
        <h3>
            <img src="../images/左箭头.svg" onclick="javascript:window.history.back(-1);" title="返回上一页" alt="返回点击图片"/>
            <span>添加用户</span>
        </h3>
    </div>
    <div class="section_table">
        <div class="section">
            <div class="popup_table addUserTable">
                <form id="form1" action="#" method="post" onsubmit="return false">
                    <table class="table table-bordered addUser">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <td>
                                <input type="" name="userName" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>密码</th>
                            <td>
                                <input type="" name="password" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>手机</th>
                            <td>
                                <input type="" name="userPhone" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>邮箱</th>
                            <td>
                                <input type="" name="userEmail" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>用户等级</th>
                            <td>
                                <select name="userLevel">
                                    <option value="">请选择用户等级</option>
                                    <option value="1">管理员</option>
                                    <option value="2">普通用户</option>
                                    <option value="3">专家</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>所在地区</th>
                            <td>
									<span data-toggle="distpicker" class="data-toggle">
										<select name="" class="province" data-province="选择省"></select>
										<select name="" class="city" data-city="选择市"></select>
										<select name="" class="district" data-district="选择区"></select>
									</span>
                                <input type="hidden" name="userAddress" value="" required="required" class="hiddenInput"/>
                            </td>
                        </tr>
                        </thead>
                    </table>
                    <div class="popup_bottom">
                        <input type="reset" name="" value="重置" />
                        <input onclick="addressUser(),addAdmin()" type="submit" value="添加"/>
                        <a th:href="@{/admin/adminUserList}" class="btn returnList">返回</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


</body>
<script type="text/javascript" th:src="@{../js/jquery-3.3.1.min.js}" ></script>
<script type="text/javascript" th:src="@{../js/adminUser.js}" ></script>
<script type="text/javascript" th:src="@{../js/distpicker.js}" ></script>
<script>
    function addAdmin() {
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/admin/adminAddUser" ,//url
            data: $('#form1').serialize(),
            success: function (data) {
                console.log(data);//打印服务端返回的数据(调试用)
                if (data.code == 0) {
                    alert(data.msg);
                    window.location.href = "/admin/adminUserList";
                }else{
                    alert(data.msg);
                    window.location.href = "/admin/adminUserList";
                };
            },
            error : function() {
                alert("异常！");
            }
        });
    }
</script>
</html>