<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>农业科技成果转化交易服务平台注册</title>
	<link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
	<link rel="stylesheet" th:href="@{../css/admindemo.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<body>
<div th:include="common/adminCommon :: nav"></div>
    <section>
    	<div class="col-sm-12 search-collapse">
    		<form action="">
    			<div class="select-list">
    				<ul>
    					<li>
    						<span>搜索：</span>
    						<input type="text" name="" id="" value="" />
    					</li>
    					<li>
    						<button class="btn" type="submit">搜 索</button>
    					</li>
    					<li class="img_add">
    						<a href="JavaScript:;">
	                			<img src="../images/添加.svg" title="添加类型"/>
	                			<span>添加</span>
	                		</a>
    					</li>
    				</ul>
    			</div>
    		</form>
    	</div>
    	<div class="section_table">
    		<div class="section">
				<table class="table table-bordered table-hover">
					<thead>
		                <tr>
		                	<th>选择</th>
		                	<th>类型ID</th>
		                	<th>类型名称</th>
		                    <th>操作</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr>
		            		<td>
		            			<input type="checkbox" id="awesome2" value="1"class="selectall" />
								<label for="awesome2"></label>
		            		</td>
		            		<td>B133</td>
		            		<td>农产品与食品加工</td>
		            		<td>
		            			<button type="button" class="btn modify">修改</button>
		            			<button type="button" class="btn delete">删除</button>
		            		</td>
		            	</tr>
		            </tbody>
				</table>
			</div>
    </section>

	<!--弹窗-->
	<popup>
		<div class="popup">
			<h3>添加类型</h3>
			<div class="popup_table">
				<form action="" method="post">
					<table class="table table-bordered">
						<thead>
							<tr>
			                    <th>类型名称</th>
			                    <td>
			                    	<input type="" name="" id="" value="" required="required"/>
			                    </td>
			                </tr>	
						</thead>
					</table>
					<div class="popup_bottom">
						<input type="reset" name="" id="" value="重置" />
						<input type="submit" value="添加"/>
						<input type="button" name="" class="cancel_1" value="取消" />
					</div>
				</form>
			</div>
		</div>
	</popup>
	<!--修改-->
	<popupModify>
		<div class="popupModify">
			<h3>添加类型</h3>
			<div class="popup_table">
				<form action="" method="post">
					<table class="table table-bordered">
						<thead>
							<tr>
			                    <th>类型名称</th>
			                    <td>
			                    	<input type="" name="" id="" value="" required="required"/>
			                    </td>
			                </tr>	
						</thead>
					</table>
					<div class="popup_bottom">
						<input type="reset" name="" id="" value="重置" />
						<input type="submit" value="添加"/>
						<input type="button" name="" class="cancel_1" value="取消" />
					</div>
				</form>
			</div>
		</div>
	</popupModify>	
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/adminIndex.js" ></script>
</html>