<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>农业科技成果转化交易服务平台需求管理</title>
	<link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
	<link rel="stylesheet" th:href="@{../css/admindemo.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<div th:include="common/adminCommon :: nav"></div>
    <section>
    	<div class="col-sm-12 search-collapse">
			<div class="select-list">
				<ul>
					<li>成果管理</li>
					<li>
						<form th:action="@{/admin/adminAdminDemand}">
							<input type="text" name="findName" value="" placeholder="需求名称搜索" autocomplete="off"/>
							<button style="font-size: 14px; background-color: #0BB;" class="btn" type="submit">搜 索</button>
						</form>
					</li>
					<li class="img_add">
						<a th:href="@{/admin/toAdminAddDemand}">
							<img src="../images/添加.svg" title="添加需求"/>
							<span>添加需求</span>
						</a>
					</li>
				</ul>
			</div>
    	</div>
		<div class="cure"></div>
    	<div class="section_table">
    		<div class="section">
				<table class="table table-bordered table-hover">
					<thead style="background-color: #f3f3f4;">
		                <tr>
		                	<th>选择</th>
		                	<th>需求ID</th>
		                	<th>需求名字</th>
		                	<th>预期价格</th>
		                	<th>需求者</th>
		                	<th>发布时间</th>
		                	<th>联系人</th>
		                	<th>电话</th>
		                	<th>邮箱</th>
							<th>点击量</th>
		                    <th>操作</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr th:each="demand : ${demandList}">
		            		<td>
		            			<input type="checkbox" th:id="${demand.demandId}" th:value="${demand.demandId}"  class="selectall" />
								<label th:for="${demand.demandId}"></label>
		            		</td>
		            		<td th:text="${demand.demandId}">B133</td>
		            		<td th:text="${demand.demandName}">生物质成型燃料高效燃烧技术和装置</td>
		            		<td th:text="${demand.expectedPrice}">23</td>
		            		<td th:text="${demand.demanders}">胡亚星</td>
		            		<td th:text="${#temporals.format(demand.releaseTime, 'yyyy-MM-dd')}">2019-03-25 21:32:34</td>
		            		<td th:text="${demand.linkman}">武凯焱</td>
		            		<td th:text="${demand.phone}">15993023617</td>
		            		<td th:text="${demand.pageView}"></td>
							<td class="isCode" th:text="${demand.statusCode}"></td>
		            		<td>
								<a th:href="@{/admin/toAdminEditDemand(demandId=${demand.demandId})}">详情</a>
		            			<button type="button" class="btn deleteDemand">删除</button>
		            		</td>
		            	</tr>
		            </tbody>
				</table>
			</div>
    	</div>

		<div class="section_Bottom">
			<div class="fenye"></div>
			<!--分页-->
			<div class="SplitPage" th:if="${TotalPages > 0}">
				<ul class="SplitUl" th:if="${TotalPages > 1}">
					<li th:if="${Number == 1}">
						<a href="javascript:;">首页</a>
					</li>
					<!--//跳转至第一页-->
					<li th:if="${Number > 1}">
						<a th:href="@{/admin/adminAdminDemand(current=1)}">首页</a>
					</li>
					<li th:if="${Number > 1}">
						<a th:href="@{/admin/adminAdminDemand(current=${Number-1})}">Prev</a>
					</li>
					<!--//请求页数-1-->
					<li th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" class="active" href="javascript:;"
						   th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{/admin/adminAdminDemand(current=${i})}" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}">
						<a th:href="@{/admin/adminAdminDemand(current=${Number+1})}">Next</a>
					</li><!--//请求页数+1-->
					<li th:if="${Number == TotalPages}">
						<a class="noclick" href="javascript:;">尾页</a>
					</li>
					<li th:if="${Number != TotalPages}">
						<a th:href="@{/admin/adminAdminDemand(current=${TotalPages})}">尾页</a>
					</li><!--//跳转至第Number页-->
				</ul>
			</div>
		</div>

    </section>
	</body>
	<script type="text/javascript" th:src="@{../js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{../js/adminDemand.js}" ></script>
<script>
    var length = $('.isCode').length;
    for (var i=0; i<length; i++){
        if($($('.isCode')[i]).text() == "0"){
            $($('.isCode')[i]).text("未审核");
        }else if($($('.isCode')[i]).text() == "1"){
            $($('.isCode')[i]).text("通过");
        }else if($($('.isCode')[i]).text() == "2"){
            $($('.isCode')[i]).text("失败");
        }
    }
</script>
</html>
