<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>农业科技成果转化交易服务平台公告管理</title>
    <link rel="stylesheet" href="../css/adminStyle.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/admindemo.css" />
	<link rel="shortcut icon" type="img/x-icon" href="../img/favicon.ico"/>
</head>

<body>	
	<header>
		<div class="head-l">
			<!--<img src="../images/favicon.png"/>-->
			<span>农业科技成果转化交易服务平台</span>
		</div>
		<div class="head-r">
			<span>您好，<b>用户user_95271854952</b>，欢迎登陆该平台!</span>
			<span id="data">2016/12/21 上午12:00:00</span>
			<a href="" title="退出登录">
				<img src="../images/退出登录.svg"/>
			</a>
		</div>
	</header>
    <nav class="menu-wrap">
        <div class="menu dowebok">
            <ul>
                <li>
                    <a href="adminIndex.html">
                        <img src="../images/首页-选中.svg"/>
                        <span class="nav-text">首页</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/退出登录.svg"/>
                        <span class="nav-text">登录</span>
                    </a>
                </li>
                <li class="darkerlishadow">
                    <a href="adminType.html">
                        <img src="../images/类型管理.svg">
                        <span class="nav-text">类型管理</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="adminUser.html">
                        <img src="../images/用户管理.svg"/>
                        <span class="nav-text">用户管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminExample.html">
                        <img src="../images/案例管理.svg"/>
                        <span class="nav-text">案例管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminOrganizationType.html">
                        <img src="../images/机构类型.svg"/>
                        <span class="nav-text">机构类型管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminAnnouncement.html">
                        <img src="../images/公告管理.svg"/>
                        <span class="nav-text">公告管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminExperts.html">
                        <img src="../images/专家.svg"/>
                        <span class="nav-text">专家管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminAchievement.html">
                        <img src="../images/成果.svg"/>
                        <span class="nav-text">成果管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <section>
    	<div class="col-sm-12 search-collapse">
    		<form action="">
    			<div class="select-list">
    				<ul>
    					<li>
    						<span>搜索：</span>
    						<input type="text" name="" id="" value="" />
    					</li>
    					<li>
    						<button class="btn" type="submit">搜 索</button>
    					</li>
    					<li></li>
    					<li class="exampleList">
    						<span>未审核【0】</span>
    						<span>通过【1】</span>
    						<span>失败【2】</span>
    					</li>
    					<li>
    						<a href="JavaScript:;">
	                			<img src="../images/添加.svg" title="添加公告"/>
	                			<span>添加</span>
	                		</a>
    					</li>
    				</ul>
    			</div>
    		</form>
    	</div>
    	<div class="section_table">
    		<div class="noticeList">
    			<ul>
    				<li>
    					<span>
    						<input type="checkbox" id="awesome1" value="1" class="selectall"/>
							<label for="awesome1"></label>
    					</span>
    					<span>NewsId-1</span>
    					<span>【<span>新闻中心</span>】</span>
    					<span>
    						<a href="Announcement.html" title="">关于2018-2019年度神农中华农业科技奖推荐工作的通知</a>
    					</span>
    					<span>2019-01-25T11:06:20</span>
    					<button class="btn">删除</button>
    				</li>
    				<li>
    					<span>
    						<input type="checkbox" id="awesome1" value="1" class="selectall"/>
							<label for="awesome1"></label>
    					</span>
    					<span>NewsId-1</span>
    					<span>【<span>新闻中心</span>】</span>
    					<span>
    						<a href="Announcement.html" title="">关于征集2019农业领域重大科学问题和工程技术 难题的通知</a>
    					</span>
    					<span>2019-01-25T11:06:20</span>
    				</li>
    				<li>
    					<span>
    						<input type="checkbox" id="awesome1" value="1" class="selectall"/>
							<label for="awesome1"></label>
    					</span>
    					<span>NewsId-1</span>
    					<span>【<span>新闻中心</span>】</span>
    					<span>
    						<a href="Announcement.html" title="">科技成果转移转化：拆除阻碍产业化的“篱笆墙</a>
    					</span>
    					<span>2019-01-25T11:06:20</span>
    				</li>
    				<li>
    					<span>
    						<input type="checkbox" id="awesome1" value="1" class="selectall"/>
							<label for="awesome1"></label>
    					</span>
    					<span>NewsId-1</span>
    					<span>【<span>新闻中心</span>】</span>
    					<span>
    						<a href="Announcement.html" title="">科技成果转移转化：拆除阻碍产业化的“篱笆墙</a>
    					</span>
    					<span>2019-01-25T11:06:20</span>
    				</li>
    			</ul>
    		</div>
		</div>
   </section>
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/adminIndex.js" ></script>
</html>