<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>农业科技成果转化交易服务平台注册</title>
	<link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
	<link rel="stylesheet" th:href="@{../css/admindemo.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<body>
<div th:include="common/adminCommon :: nav"></div>
    
    <section>
    	<div class="col-sm-12 search-collapse">
    		<form action="">
    			<div class="select-list">
    				<ul>
    					<li>
    						<span>搜索：</span>
    						<input type="text" name="" id="" value="" />
    					</li>
    					<li>
    						<button class="btn" type="submit">搜 索</button>
    					</li>
    					<li></li>
    					<li class="exampleList">
    						<span>未审核【0】</span>
    						<span>通过【1】</span>
    						<span>失败【2】</span>
    					</li>
    					<li>
    						<a href="JavaScript:;">
	                			<img src="../images/添加.svg" title="添加公告"/>
	                			<span>添加</span>
	                		</a>
    					</li>
    				</ul>
    			</div>
    		</form>
    	</div>
    	<div class="section_table">
    		<div class="noticeList">
    			<ul>
    				<li>
    					<span>
    						<input type="checkbox" id="awesome1" value="1" class="selectall"/>
							<label for="awesome1"></label>
    					</span>
    					<span>NewsId-1</span>
    					<span>【<span>新闻中心</span>】</span>
    					<span>
    						<a href="Announcement.html" title="">关于2018-2019年度神农中华农业科技奖推荐工作的通知</a>
    					</span>
    					<span>2019-01-25T11:06:20</span>
    					<button class="btn">删除</button>
    				</li>
    				<li>
    					<span>
    						<input type="checkbox" id="awesome1" value="1" class="selectall"/>
							<label for="awesome1"></label>
    					</span>
    					<span>NewsId-1</span>
    					<span>【<span>新闻中心</span>】</span>
    					<span>
    						<a href="Announcement.html" title="">关于征集2019农业领域重大科学问题和工程技术 难题的通知</a>
    					</span>
    					<span>2019-01-25T11:06:20</span>
    				</li>
    				<li>
    					<span>
    						<input type="checkbox" id="awesome1" value="1" class="selectall"/>
							<label for="awesome1"></label>
    					</span>
    					<span>NewsId-1</span>
    					<span>【<span>新闻中心</span>】</span>
    					<span>
    						<a href="Announcement.html" title="">科技成果转移转化：拆除阻碍产业化的“篱笆墙</a>
    					</span>
    					<span>2019-01-25T11:06:20</span>
    				</li>
    				<li>
    					<span>
    						<input type="checkbox" id="awesome1" value="1" class="selectall"/>
							<label for="awesome1"></label>
    					</span>
    					<span>NewsId-1</span>
    					<span>【<span>新闻中心</span>】</span>
    					<span>
    						<a href="Announcement.html" title="">科技成果转移转化：拆除阻碍产业化的“篱笆墙</a>
    					</span>
    					<span>2019-01-25T11:06:20</span>
    				</li>
    			</ul>
    		</div>
		</div>
   </section>
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/adminIndex.js" ></script>
</html>