<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>农业科技成果转化交易服务平台注册</title>
    <link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
    <link rel="stylesheet" th:href="@{../css/admindemo.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<body>
<div th:include="common/adminCommon :: nav"></div>
    
    <section>
		<div class="title_img">
			<img src="../images/title.png"/>
		</div>
    </section>

</body>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" src="../js/adminIndex.js" ></script>
</html>