<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>农业科技成果转化交易服务平台注册</title>
	<link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
	<link rel="stylesheet" th:href="@{../css/admindemo.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<div th:include="common/adminCommon :: nav"></div>
    <section>
    	<div class="col-sm-12 search-collapse">
    		<form action="">
    			<div class="select-list">
    				<ul>
    					<li>
    						<span>搜索：</span>
    						<input type="text" name="" id="" value="" />
    					</li>
    					<li>
    						<button class="btn" type="submit">搜 索</button>
    					</li>
    					<li></li>
    					<li class="exampleList">
    						<span>未审核【0】</span>
    						<span>通过【1】</span>
    						<span>失败【2】</span>
    					</li>
						<li class="img_add">
							<a th:href="@{/admin/toAdminExample}">
								<img src="../images/添加.svg" title="添加用户"/>
								<span>添加</span>
							</a>
						</li>
    				</ul>
    			</div>
    		</form>
    	</div>
    	<div class="section_table">
    		<div class="section">
				<table class="table table-bordered table-hover">
					<thead>
		                <tr>
		                	<th>选择</th>
		                	<th>案例ID</th>
		                	<th>案例标题</th>
		                	<th>发布时间</th>
		                	<th>用户id</th>
		                	<th>审核状态码</th>
		                    <th>操作</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr th:each="example : ${exampleList}">
		            		<td>
		            			<input type="checkbox" th:id="${example.exampleId}" th:value="${example.exampleId}" class="selectall" />
								<label th:for="${example.exampleId}"></label>
		            		</td>
		            		<td th:text="${example.exampleId}">B133</td>
		            		<td th:text="${example.exampleTitle}">“羊肉加工增值关键技术”顺利转化，经济社会效益显著</td>
		            		<td th:text="${#temporals.format(example.releaseTime, 'yyyy-MM-dd HH:mm:ss')}">2019-03-25 21:32:34</td>
		            		<td th:text="${example.userId}">1</td>
		            		<td th:text="${example.statusCode}">2</td>
		            		<td>
								<a th:href="@{/admin/toAdminEditExample(exampleId=${example.exampleId})}">详情</a>
		            			<button type="button" class="btn deleteExample">删除</button>
		            			
		            		</td>
		            	</tr>
		            </tbody>
				</table>
			</div>
    	</div>
    </section>
	</body>
	
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" th:src="@{../js/wangEditor.min.js}"></script>
	<script type="text/javascript" th:src="@{../js/adminExample.js}"></script>
</html>
