<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>农业科技成果转化交易服务平台注册</title>
	<link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
	<link rel="stylesheet" th:href="@{../css/admindemo.css}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<div th:include="common/adminCommon :: nav"></div>
    <section>
    	<div class="col-sm-12 search-collapse">
			<div class="select-list">
				<ul>
					<li>专家管理</li>
					<li>
						<form th:action="@{/admin/adminExpertsList}">
							<input type="text" name="findName" value="" placeholder="专家名字搜索" autocomplete="off"/>
							<button style="font-size: 14px; background-color: #0BB;" class="btn" type="submit">搜 索</button>
						</form>
					</li>
					<li class="img_add">
						<a th:href="@{/admin/toAdminAddExperts}">
							<img src="../images/添加.svg" title="添加专家"/>
							<span>添加专家</span>
						</a>
					</li>
				</ul>
			</div>
    	</div>
		<div class="section_table">
    		<div class="section">
				<table class="table table-bordered table-hover">
					<thead style="background-color: #f3f3f4;">
		                <tr>
		                	<th>选择</th>
		                	<th>专家id</th>
		                	<th>姓名</th>
		                    <th>性别</th>
		                    <th>学历</th>
		                    <th>学位</th>
		                    <th>毕业院校</th>
		                    <th>出生日期</th>
		                    <th>联系方式</th>
		                    <th>所学专业</th>
		                    <th>行政职务</th>
							<th>点击量</th>
							<th>审核状态</th>
		                    <th>操作</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr th:each="experts : ${expertsList}">
		            		<td>
		            			<input type="checkbox" th:id="${experts.expertsId}" th:for="${experts.expertsId}" class="selectall" />
								<label th:for="${experts.expertsId}"></label>
		            		</td>
		            		<td th:text="${experts.expertsId}">B133</td>
		            		<td th:text="${experts.expertsName}">康绍忠</td>
		            		<td th:text="${experts.expertsSex}">男</td>
		            		<td th:text="${experts.expertsEducation}">研究生</td>
		            		<td th:text="${experts.degree}">名誉博士</td>
		            		<td th:text="${experts.school}">西北农业大学</td>
		            		<td th:text="${#temporals.format(experts.expertsBirth, 'yyyy-MM-dd')}">1962-11-01T00:00:00</td>
		            		<td th:text="${experts.expertsPhone}">15936571965</td>
		            		<td th:text="${experts.major}">农业水土工程</td>
		            		<td th:text="${experts.position}">中国工程院院士</td>
							<td th:text="${experts.pageView}"></td>
							<td class="isCode" th:text="${experts.statusCode}"></td>
		            		<td>
								<a th:href="@{/admin/toAdminEditExperts(expertsId=${experts.expertsId})}">详情</a>
		            			<button type="button" class="btn deleteExperts">删除</button>
		            		</td>
		            	</tr>
		            </tbody>
				</table>
			</div>
    	</div>

		<div class="section_Bottom">
			<div class="fenye"></div>
			<!--分页-->
			<div class="SplitPage" th:if="${TotalPages > 0}">
				<ul class="SplitUl" th:if="${TotalPages > 1}">
					<li th:if="${Number == 1}">
						<a href="javascript:;">首页</a>
					</li>
					<!--//跳转至第一页-->
					<li th:if="${Number > 1}">
						<a th:href="@{/admin/adminExpertsList(current=1)}">首页</a>
					</li>
					<li th:if="${Number > 1}">
						<a th:href="@{/admin/adminExpertsList(current=${Number-1})}">Prev</a>
					</li>
					<!--//请求页数-1-->
					<li th:each="i:${#numbers.sequence(1,TotalPages)}">
						<!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" class="active" href="javascript:;"
						   th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
						<a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
						   th:href="@{/admin/adminExpertsList(current=${i})}" th:text="${i}">#</a>
						<!--//限制显示页数的条数  4到6个页数-->
					</li>
					<li th:if="${Number != TotalPages}">
						<a th:href="@{/admin/adminExpertsList(current=${Number+1})}">Next</a>
					</li><!--//请求页数+1-->
					<li th:if="${Number == TotalPages}">
						<a class="noclick" href="javascript:;">尾页</a>
					</li>
					<li th:if="${Number != TotalPages}">
						<a th:href="@{/admin/adminExpertsList(current=${TotalPages})}">尾页</a>
					</li><!--//跳转至第Number页-->
				</ul>
			</div>
		</div>

    </section>

</body>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" src="../js/adminExperts.js" ></script>
<script>
    var length = $('.isCode').length;
    for (var i=0; i<length; i++){
        if($($('.isCode')[i]).text() == "0"){
            $($('.isCode')[i]).text("未审核");
        }else if($($('.isCode')[i]).text() == "1"){
            $($('.isCode')[i]).text("通过");
        }else if($($('.isCode')[i]).text() == "2"){
            $($('.isCode')[i]).text("失败");
        }
    }

</script>
</html>