<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>农业科技成果转化交易服务平台注册</title>
    <link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
    <link rel="stylesheet" th:href="@{../css/admindemo.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<body>
<div th:include="common/adminCommon :: nav"></div>
    
    <section>
    	<div class="search-collapse">
    		<h3 >关于2018-2019年度神农中华农业科技奖推荐工作的通知</h3>
    	</div>
    	<div class="section_table">
			<div class="noticeImg">
				<img src="../images/左箭头.svg" onclick="javascript:window.history.back(-1);" title="返回上一页" alt="返回点击图片"/>
				<img src="../images/公告1.svg" alt="" />
			</div>
    		<figure>
    			<div class="announcementTitle">
    				<a href="javaScript:;">关于2018-2019年度神农中华农业科技奖推荐工作的通知</a>
    				<small>发布时间：<span>2019-01-25T11:06:50</span></small>
    				<small>发布来源：<span>新闻中心</span></small>
    			</div>
    			<div class="announcementContent">
    				<p th:text="${announcement.announcementTitle}"></p>
    			</div>
    		</figure>
		</div>
   </section>
</body>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/adminIndex.js" ></script>
</html>