<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>农业科技成果转化交易服务平台注册</title>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../css/adminStyle.css}"/>
    <link rel="stylesheet" th:href="@{../css/admindemo.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}" media="screen"/>
    <link rel="stylesheet" th:href="@{../css/jeDate_test.css}">
    <link rel="stylesheet" th:href="@{../css/jedate.css}">
</head>
<body>

<div th:include="common/adminCommon :: nav"></div>

<section>
    <div class="search-collapse">
        <h3>
            <img src="../images/左箭头.svg" onclick="javascript:window.history.back(-1);" title="返回上一页" alt="返回点击图片"/>
            <img src="../images/成果 (1).svg" alt=""/>
            <span class="achievementModify">
                    <b>成果ID</b>
					<span th:text="${achievement.achievementId}"></span>
            </span>
        </h3>
    </div>
    <div class="section_table">
        <figure>
            <form th:action="@{/admin/adminEditAchievement}">
                <div class="section">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>成果名称</th>
                                <td>
                                    <input type="text" name="achievementName" th:value="${achievement.achievementName}"/>
                                </td>
                                <th>成果类型</th>
                                <td>
                                    <div th:each="type : ${typeList}">
                                        <input type="radio" th:name="typeName" th:id="${type.typeName}" th:value="${type.typeName}" required/><label
                                            th:text="${type.typeName}" th:for="${type.typeName}"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>成果简介</th>
                                <td>
                                    <input type="text" name="achievementIntroduce"
                                           th:value="${achievement.achievementIntroduce}"/>
                                </td>
                                <th>成果关键词</th>
                                <td>
                                    <input type="text" name="achievementKey" th:value="${achievement.achievementKey}"/>
                                </td>
                            </tr>
                            <tr>
                                <th>研发开始时间</th>

                                <td>
                                    <div class="jeinpbox">
                                        <input type="text" name="start_time" class="jeinput moredate"
                                               placeholder="YYYY-MM-DD" required autocomplete="off" th:value="${#temporals.format(achievement.startTime, 'yyyy-MM-dd')}">
                                    </div>
                                </td>
                                <th>研发结束时间</th>
                                <td>
                                    <div class="jeinpbox">
                                        <input type="text" name="end_time" class="jeinput moredate"
                                               placeholder="YYYY-MM-DD" required autocomplete="off" th:value="${#temporals.format(achievement.endTime, 'yyyy-MM-dd')}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>点击量</th>
                                <td>
                                    <input type="text" name="pageView" th:value="${achievement.pageView}"/>
                                </td>
                                <th>审核状态码</th>
                                <td>
                                    <select class="modifyAchievementCode" name="statusCode" style="width: 226px">
                                        <option value="">请选择审核状态码</option>
                                        <option value="0">未审核</option>
                                        <option value="1">通过</option>
                                        <option value="2">失败</option>
                                    </select>
                                    <input type="hidden" class="statusCode" th:value="${achievement.statusCode}"/>
                                </td>
                            </tr>

                            <tr>
                                <th>联系人</th>
                                <td>
                                    <input type="text" name="linkman" th:value="${achievement.linkman}"/>
                                </td>
                                <th>用户id</th>
                                <td>
                                    <input type="text" name="userId" th:value="${achievement.userId}"/>
                                </td>
                            </tr>


                            <tr>
                                <th>联系电话</th>
                                <td>
                                    <input type="text" name="phone" th:value="${achievement.phone}"/>
                                </td>
                                <th>手机</th>
                                <td>
                                    <input type="text" name="cellNumber" th:value="${achievement.cellNumber}"/>
                                </td>
                            </tr>
                            <tr>
                                <th>邮箱</th>
                                <td>
                                    <input type="text" name="email" th:value="${achievement.email}"/>
                                </td>
                                <th>联系地址</th>
                                <td>
                                    <input type="text" name="contactAddress" th:value="${achievement.contactAddress}"/>
                                </td>
                            </tr>
                            <tr>
                                <th>获奖情况</th>
                                <td>
                                    <input type="text" name="awards" th:value="${achievement.awards}"/>
                                </td>
                                <th>预期交易价格（万元）</th>
                                <td>
                                    <input type="text" name="expectedPrice" th:value="${achievement.expectedPrice}"/>
                                </td>
                            </tr>
                            <tr>
                                <th>知识产权编号</th>
                                <td>
                                    <input type="text" name="propertyNumber" th:value="${achievement.propertyNumber}"/>
                                </td>
                                <th>知识产权说明</th>
                                <td>
                                    <input type="text" name="propertyIntroduce"
                                           th:value="${achievement.propertyIntroduce}"/>
                                </td>
                            </tr>
                            <tr>
                                <th>产权归属者</th>
                                <td>

                                    <input type="text" name="propertyMan" th:value="${achievement.propertyMan}"/>
                                </td>
                                <th>产权归属地</th>
                                <td>
                                    <div data-toggle="distpicker">
                                        <select class="modifyDistPicker" name="propertyAddress" required></select>
                                    </div>
                                    <input type="hidden" class="hiddenDistPicker" th:value="${achievement.propertyAddress}"/>
                                </td>
                            </tr>
                            <tr>
                                <th>成品图片展示（1到3张）</th>
                                <td>
                                    <img src="${achievement.pictureAddress}" alt="${achievement.pictureAddress}">
                                </td>
                                <th>操作</th>
                                <td>
                                    <input type="reset" name="" value="重置" onclick="formReset()"/>
                                    <input type="submit" value="修改"/>
                                    <a th:href="@{/admin/adminAchievementList}" class="returnList">返回</a>
                                </td>
                            </tr>

                        </thead>
                    </table>
                </div>
            </form>

        </figure>
    </div>
</section>

</body>
<script type="text/javascript" th:src="@{../js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{../js/achievement.js}"></script>
<script th:src="@{../js/distpicker.js}"></script>
<script th:src="@{../js/jedate.js}"></script>
<script th:src="@{../js/demo.js}"></script>
<script>
    // 状态码
    var options = $('.modifyAchievementCode option');
    var statusCode = $('.statusCode').val();
    for (var i = 0; i < options.length; i++) {
        if ($(options[i]).val() == statusCode) {
            $(options[i]).attr("selected", true);
        } else {
            $(options[i]).attr("selected", false);
        }
    }

    // 产权归属地
    var distpicker = $('.modifyDistPicker option');
    var hiddenDistPicker = $('.hiddenDistPicker').val();
    for (var i = 0; i < distpicker.length; i++) {
        if ($(distpicker[i]).val() == hiddenDistPicker) {
            $(distpicker[i]).attr("selected", true);
        } else {
            $(distpicker[i]).attr("selected", false);
        }
    }
</script>
</html>