<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>农业科技成果转化交易服务平台申请专家</title>
    <link rel="stylesheet" href="../css/adminStyle.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/admindemo.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<link rel="shortcut icon" type="img/x-icon" href="../img/favicon.ico"/>
</head>

<body>	
	<header>
		<div class="head-l">
			<!--<img src="../images/favicon.png"/>-->
			<span>农业科技成果转化交易服务平台</span>
		</div>
		<div class="head-r">
			<span>您好，<b>用户user_95271854952</b>，欢迎登陆该平台!</span>
			<span id="data">2016/12/21 上午12:00:00</span>
			<a href="" title="退出登录">
				<img src="../images/退出登录.svg"/>
			</a>
		</div>
	</header>
	
    <nav class="menu-wrap">
        <div class="menu dowebok">
            <ul>
                <li>
                    <a href="adminIndex.html">
                        <img src="../images/首页-选中.svg"/>
                        <span class="nav-text">首页</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/退出登录.svg"/>
                        <span class="nav-text">登录</span>
                    </a>
                </li>
                <li class="darkerlishadow">
                    <a href="adminType.html">
                        <img src="../images/类型管理.svg">
                        <span class="nav-text">类型管理</span>
                    </a>
                </li>

                <li class="darkerli">
                    <a href="adminUser.html">
                        <img src="../images/用户管理.svg"/>
                        <span class="nav-text">用户管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminExample.html">
                        <img src="../images/案例管理.svg"/>
                        <span class="nav-text">案例管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminOrganizationType.html">
                        <img src="../images/机构类型.svg"/>
                        <span class="nav-text">机构类型管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminAnnouncement.html">
                        <img src="../images/公告管理.svg"/>
                        <span class="nav-text">公告管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminExperts.html">
                        <img src="../images/专家.svg"/>
                        <span class="nav-text">专家管理</span>
                    </a>
                </li>
                <li class="darkerli">
                    <a href="adminAchievement.html">
                        <img src="../images/成果.svg"/>
                        <span class="nav-text">成果管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <section>
    	<div class="search-collapse">
    		<h3>
				<img src="../images/左箭头.svg" onclick="javascript:window.history.back(-1);" title="返回上一页" alt="返回点击图片"/>
				<!--<img src="../images/成果 (1).svg" alt="" />-->
    			<span>专家详情页</span>
    		</h2>
    	</div>
    	<div class="section_table">
    		<div class="section">
				<div class="apply_expert">
					<div class="applyExpert">
						<label>姓名</label>
						<input type="text" name="" id="" value="" />
						<label>性别</label>
						<input type="radio" name="sex" id="" value="" />男
						<input type="radio" name="sex" id="" value="" />女
					</div>
					<div class="applyExpert">
						<label>出生日期</label>
						<input type="text" name="" id="" value="" />
						<label>国籍</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>学历</label>
						<input type="text" name="" id="" value="" />
						<label>学位</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>毕业院校</label>
						<input type="text" name="" id="" value="" />
						<label>所学专业</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>所在单位</label>
						<input type="text" name="" id="" value="" />
						<label>行政职务</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>专家类型ID</label>
						<input type="text" name="" id="" value="" />
						<label>用户ID</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>研究领域</label>
						<textarea name="" rows="" cols=""></textarea>
						<label>主要研究成果简介</label>
						<textarea name="" rows="" cols=""></textarea>
					</div>
					<div class="applyExpert">
						<label>个人获奖状况</label>
						<input type="text" name="" id="" value="" />
						<label>成果获奖状况</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>联系方式</label>
						<input type="text" name="" id="" value="" />
						<label>邮箱</label>
						<input type="text" name="" id="" value="" />
					</div>
					<div class="applyExpert">
						<label>照片地址</label>
						<input type="text" name="" id="" value="" />
					</div>
				</div>
			</div>
    	</div>
    	
    </section>

</body>
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
	<script type="text/javascript" src="../js/adminIndex.js" ></script>
</html>