<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>农业科技成果转化交易服务平台注册</title>
    <link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
    <link rel="stylesheet" th:href="@{../css/adminDemo.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
    <style>
        td{
            text-align: left!important;
        }
        .typeName input[type=radio]{
            width: auto!important;
        }
        .typeName label{
            vertical-align: top;
        }
    </style>
</head>
<body>

<div th:include="common/adminCommon :: nav"></div>

<section>
    <div class="search-collapse">
        <h3>修改机构 机构Id <span th:text="${organization.organizationId}"></span> </h3>
    </div>
    <div class="section_table">
        <div class="section">
            <div class="popup_table addUserTable">
                <form id="form1" action="#" method="post" enctype="multipart/form-data" onsubmit="return false">
                    <table class="table table-bordered addUser">
                        <thead>
                        <input type="hidden" name="organizationIntroduce" class="organizationContent" th:value="${organization.organizationIntroduce}">
                        <input type="hidden" name="organizationId" th:value="${organization.organizationId}">
                        <tr>
                            <th>机构名称</th>
                            <td>
                                <input type="" th:value="${organization.organizationName}" name="organizationName" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <b>机构简介</b>
                            <span>
                                    <div id="editor">

                                    </div>
                                </span>
                        </tr>
                        <tr>
                            <th>所在国家</th>
                            <td>
                                <input type="" th:value="${organization.organizationCountry}" name="organizationCountry" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>所在地区</th>
                            <td>
                                <input type="" th:value="${organization.organizationRegion}" name="organizationRegion" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>法人类别</th>
                            <td>
                                <input type="" th:value="${organization.legalCategory}" name="legalCategory" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>联系人</th>
                            <td>
                                <input type="" th:value="${organization.linkman}" name="linkman" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>电话</th>
                            <td>
                                <input type="" th:value="${organization.phone}" name="phone" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>邮箱</th>
                            <td>
                                <input type="" th:value="${organization.email}" name="email" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>网址</th>
                            <td>
                                <input type="" th:value="${organization.organizationUrl}" name="organizationUrl" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>发布者id</th>
                            <td>
                                <input type="" name="userId" th:value="${organization.userId}" value="" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>机构类型</th>
                            <td>
                                <div th:each="type : ${typeList}" class="typeName">
                                    <input type="radio" th:name="typeName" th:id="${type.typeName}" th:value="${type.typeName}" class="Name" required>
                                    <label th:text="${type.typeName}" th:for="${type.typeName}"></label>
                                </div>
                                <input type="hidden" id="typeName" th:value="${organization.organizationTypeId}" name="organizationTypeId">
                            </td>
                        </tr>
                        <tr>
                            <th>审核状态码</th>
                            <td>
                                <select name="statusCode" class="selectStatusCode">
                                    <option>请选择审核状态码</option>
                                    <option value="0">未审核</option>
                                    <option value="1">通过</option>
                                    <option value="2">失败</option>
                                </select>
                                <input type="hidden" th:value="${organization.statusCode}" class="organizationStatusCode">
                            </td>
                        </tr>
                        <tr>
                            <th>机构logo</th>
                            <td>
                                <img style="width: 220px; display: block;" th:src="${organization.organizationLogo}" alt="">
                            </td>
                        </tr>
                        </thead>
                    </table>
                    <div class="popup_bottom">
                        <input type="reset" name="" value="重置" />
                        <input onclick="adminContent(),modifyOrganization()" type="submit" value="修改"/>
                        <a th:href="@{/admin/adminOrganizationList}" class="btn returnList">返回</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


</body>
<script type="text/javascript" th:src="@{../js/jquery-3.3.1.min.js}" ></script>
<script type="text/javascript" th:src="@{../js/wangEditor.min.js}"></script>
<script type="text/javascript" th:src="@{../js/adminFileAjax.js}"></script>
</html>