<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>农业科技成果转化交易服务平台注册</title>
    <link rel="stylesheet" th:href="@{../css/adminStyle.css}" />
    <link rel="stylesheet" th:href="@{../css/adminDemo.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

<div th:include="common/adminCommon :: nav"></div>

<section>
    <div class="search-collapse">
        <h3>用户ID：<span th:text="${user.userId}"></span></h3>
    </div>
    <div class="section_table">
        <div class="section">
            <div class="popup_table addUserTable">
                <form id="form1" th:action="@{/admin/adminModifyUser}" method="post" onsubmit="return addressUser()">
                    <table class="table table-bordered addUser">
                        <thead>
                        <tr>
                            <input type="hidden" name="userId" th:value="${user.userId}">
                            <th>用户名</th>
                            <td>
                                <input type="" name="userName" th:value="${user.userName}" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>密码</th>
                            <td>
                                <input type="" name="password" th:value="${user.password}" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>手机</th>
                            <td>
                                <input type="" name="userPhone" th:value="${user.userPhone}" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>邮箱</th>
                            <td>
                                <input type="" name="userEmail" th:value="${user.userEmail}" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <th>用户等级</th>
                            <td>
                                <select name="userLevel" class="modifyUser">
                                    <option value="">请选择用户等级</option>
                                    <option value="1">管理员</option>
                                    <option value="2">普通用户</option>
                                    <option value="3">专家</option>
                                </select>
                                <input type="hidden" class="userLevel" th:value="${user.userLevel}">
                            </td>
                        </tr>
                        <tr>
                            <th>所在地区</th>
                            <td>
                                <span data-toggle="distpicker" class="data-toggle">
                                    <select name="" class="province result_1" value=""  data-province="谁谁谁选择省"></select>
                                    <select name="" class="city result_2" value="" data-city="选择市"></select>
                                    <select name="" class="district result_3" value="" data-district="选择区"></select>
                                </span>
                                <input type="hidden" name="userAddress" th:value="${user.userAddress}" required="required" class="hiddenInput"/>
                            </td>
                        </tr>
                        </thead>
                    </table>
                    <div class="popup_bottom">
                        <input type="reset" value="重置" />
                        <input type="submit" value="修改"/>
                        <a th:href="@{/admin/adminUserList}" class="btn returnList">返回</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
<script type="text/javascript" th:src="@{../js/jquery-3.3.1.min.js}" ></script>
<script type="text/javascript" th:src="@{../js/distpicker.js}" ></script>
<script type="text/javascript" th:src="@{../js/adminUser.js}" ></script>


</html>