<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>机构发布-个人中心</title>
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/jeDate_test.css}">
    <link rel="stylesheet" th:href="@{/css/jedate.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" media="screen"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jedate.js}"></script>
    <script th:src="@{/js/addOrganization.js}"></script>
</head>
<body>
<div class="box">
    <h3>填写基本信息</h3>
    <div class="title">机构信息</div>
        <form  method="post" id="myform" enctype="multipart/form-data">
            <table class="table table-hover table-bordered">
                <tr>
                    <td>机构名称:	</td>
                    <input type="hidden"  th:value="${session.user.userId}" name="userId">
                    <td><input type="text" name="organizationName" class="form-control organizationName" required></td>
                    <input type="hidden"  th:value="${session.user.userId}">
                    <td>所在国家:	</td>
                    <td><input type="text" name="organizationCountry" class="form-control organizationCountry" required></td>
                </tr>
                <tr>
                    <td>所在地区:	</td>
                    <td><input type="text" name="organizationRegion" class="form-control organizationRegion" required /></td>
                    <td>法人类别:	</td>
                    <td><input type="text" name="legalCategory" class="form-control legalCategory" required /></td>
                </tr>
                <tr>
                    <td>机构简介:</td>
                    <td style="border-right: none;"><input type="text" name="organizationIntroduce" class="form-control organizationIntroduce" required /></td>
                    <td>地址:	</td>
                    <td><input type="text" name="contactAddress" class="form-control contactAddress" required /></td>
                </tr>
                <tr>
                    <td>联系人:</td>
                    <td><input type="text" name="linkman" class="form-control linkman" required /></td>
                    <td>电话:</td>
                    <td><input type="text" name="phone" class="form-control phone" required/></td>
                </tr>
                <tr>
                    <td>邮箱:	</td>
                    <td><input type="text" name="email" class="form-control email" required /></td>
                    <td>网址:	</td>
                    <td><input type="text" name="organizationUrl" class="form-control organizationUrl" required /></td>
                </tr>
                <tr>
                    <td>机构类型:	</td>
                    <td style="border-right:none;">
                        <div th:each="type : ${typeList}">
                             <input type="radio" name="typeName" th:id="${type.typeName}" th:value="${type.typeName}" required/><label
                                th:text="${type.typeName}" th:for="${type.typeName}"></label>
                        </div>
                    </td>
                    <td style="border-right: none;border-left: none;"></td>
                    <td style="border-left: none;"></td>

                </tr>
                <tr>
                    <td>机构logo:	</td>
                    <td style="border-right:none;">
                        <div class="all-photo" onclick="photoup()">
                            <div class="all-photo-left">
                                <span class="upload">点击上传图片</span>
                            </div>
                            <div class="all-photo-right">
                                <img th:src="@{/images/paper.png}" id="imgshow" style="width: 80px;height: 80px;" />
                            </div>
                        </div>
                        <input id="fileds" style="display: none;" name="file" type="file" accept="image/*" value="上传图片" />
                    </td>
                    <td style="border-right: none;border-left: none;"></td>
                    <td style="border-left: none;"></td>

                </tr>
                <tr>
                    <td colspan="6" class="pn-fbutton">
                        <input type="button" value="提交"  class="btn btn-info" id="change" onclick="addOrganization()"/>
                        <input type="button" value="重置"  class="btn btn-info" id="cancel" style="background-color: orangered" onclick="fomrReset()"/>
                    </td>
                </tr>
            </table>
        </form>
</div>
<div class="cure"></div>
<script th:src="@{/js/demo.js}"></script>
<script>
    function photoup() {
        $('#fileds').click();
        $('#fileds').change(function() {
            //获取input file的files文件数组;
            //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
            //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
            var file = $('#fileds').get(0).files[0];
            //创建用来读取此文件的对象
            var reader = new FileReader();
            //使用该对象读取file文件
            reader.readAsDataURL(file);
            //读取文件成功后执行的方法函数
            reader.onload = function(e) {
                //读取成功后返回的一个参数e，整个的一个进度事件
                //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
                //的base64编码格式的地址
                $('#imgshow').get(0).src = e.target.result;
            }
        })
    }
    function fomrReset()
    {
        document.getElementById("myform").reset();
    }
</script>
</body>
</html>