<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>供需发布-个人中心</title>
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/jeDate_test.css}">
    <link rel="stylesheet" th:href="@{/css/jedate.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" media="screen"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jedate.js}"></script>
</head>
<body>
<div class="box">
    <h3>基本信息</h3>
    <div class="title">需求说明</div>
    <form th:action="@{/demand/modifyDemand(demandId=${demand.demandId})}" method="post" onsubmit="modifyContent()">
            <table class="table table-hover table-bordered">
                <tr>
                    <input type="hidden"  th:value="${session.user.userId}">
                    <td>需求名字:</td>
                    <td><input type="text" name="demandName" th:value="${demand.demandName}" class="form-control"></td>
                    <td>预期价格:</td>
                    <td><input type="text" name="expectedPrice" th:value="${demand.expectedPrice}" class="form-control"></td>
                </tr>
                <tr>
                    <td>需求者:	</td>
                    <td><input type="text" name="demanders" th:value="${demand.demanders}" class="form-control"  /></td>
                    <td >需求介绍：</td>
                    <td ><textarea  name="demandIntroduce" id="content" style="width: 100%;height: 100%;border: none;overflow-y: scroll; resize:none" th:text="${demand.demandIntroduce}"></textarea></td>
                </tr>
                <tr>
                    <td>发布时间:	</td>
                    <td>
                        <input type="text" th:value="${#temporals.format(demand.releaseTime,'yyy-MM-dd')}" disabled="disabled" class="form-control">
                    </td>
                    <td>联系人:</td>
                    <td><input type="text" name="linkman" th:value="${demand.linkman}" class="form-control"  /></td>
                </tr>
                <tr>
                    <td>电话:</td>
                    <td><input type="text" name="phone" th:value="${demand.phone}" class="form-control"  /></td>
                    <td>邮箱:</td>
                    <td><input type="text" name="email" th:value="${demand.email}" class="form-control" /></td>
                </tr>
                <tr>
                    <td colspan="6" class="pn-fbutton">
                        <input type="submit" value="修改" class="btn btn-info">
                        <a th:href="@{/demand/selectDemand}" class="a-div adiv3">返回</a>
                    </td>
                </tr>
            </table>
    </form>

</div>
<script th:src="@{/js/demo.js}"></script>
</body>
</html>