.current{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #41A809;
    line-height: 30px;
}
.current>a{
    color: #000;
    text-decoration: none;

}
.current>i{
    color: #41A809;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}
.current>a:hover{
    color: #41A809;
    text-decoration: underline;
}
.cg-contain{
    width:1200px;
    margin:20px auto 20px auto;
    overflow: hidden;
}
.cg-contain img{
    width:290px;

}
.left,.right{
    width: 290px;
    border: 1px solid #6b6464;
    box-shadow: 0 0 1px 1px #6b6464;
    /*height:300px;*/
    float: left;

}
.left{
    margin-right: 10px;
}
.middle{
    width: 590px;
    float: left;
    margin-right: 10px;
}
.best_new{
    background-image: url(../images/zj_01.jpg);
    background-size:590px 282px;
    background-repeat:no-repeat;
    width:590px;
    margin-top: 10px;
    position: relative;
}
.zj_more{
    position: absolute;
    right:28px;
    top:10px;
    color: #000;
    text-decoration: none;
}
.zj_more:hover{

    color: #41A809;
    text-decoration: underline;
}
.jishu{
    background-image: url(../images/zj_02.jpg);
    background-size:590px 310px;
    background-repeat:no-repeat;
    width:590px;
    margin-top: 10px;
    position: relative;
}
.jishu>ul>li{
    border-bottom: 1px dotted #cccccc;
    line-height: 53px;
}
.left>ul>li{
    border-bottom: 1px dotted #cccccc;
    line-height: 50px;
}
.left>ul>li>i,.jishu>ul>li>i{
    vertical-align: middle;
    margin-right: 2px;
    padding-left: 10px;
    color: #41A809;
}
.left>ul>li>a,.jishu>ul>li>a{
    color: #000;
    text-decoration: none;
}
.left>ul>li>a:hover,.jishu>ul>li>a:hover{
    color: #41A809;
    text-decoration: underline;
}
/*轮播图*/
.mx-bugs_bunny{
    width: 100%;
    max-width: 700px;
    overflow: hidden;
}
.mx-bugs_info{
    position: absolute;
    display: block;
    max-width: 80%;
    padding: 10px;
    bottom: 40px;
    background-color: rgba(39, 66, 93, 0.9);
}
.mx-bugs_info a{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.mx-navigation {
    top: 42%;
}
.mx-prev, .mx-next{
    background-color: #27425d;
}
.mx-prev{
    background-image: url(../img/arr_l.png);
    background-repeat: no-repeat;
    background-position: 2px 5px;
}
.mx-next{
    background-image: url(../img/arr_r.png);
    background-repeat: no-repeat;
    background-position: 8px 5px;
}
.mx-nav_dots{
    top: 88%;
}
.mx-nav_dots span{
    margin: 0 4px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid #27425d;
    background-color: #fff;
}
.mx-nav_dots span.dotActive{
    background-color: #27425d;
}
.area{
    overflow: hidden;
}
.area>li{
    width:60px;
    float: left;
    line-height: 30px;
    padding-left: 10px;
}
.erpert_picbox{
    padding:10px;
    border-bottom: 1px solid #cccccc;
}
.expert_picbox>img{
    width:60px;
    height:60px;
    vertical-align: bottom;
}
.expert_picbox{
    display: inline-block;
}
.expert_picex{
    display: inline-block;
    line-height: 25px;
    padding-left: 10px;
}
.expert_picex>span{
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 35px;
}
.expert_picex>a{
    color: #000;
    text-decoration: none;
}
.expert_one_people{
    position: relative;
}