footer{
    width:100%;
    margin:20px 0 20px 0;
    border-top: 1px dashed #ccc;
    height: 200px;
}
.foot{
    width:1200px;
    margin: 36px auto;
    text-align: center;
    padding: 20px 0;
    border-top: 1px dotted #171616;
}
.foot>a{
    color: #000;
    text-decoration: none;
    line-height: 30px;
}
.foot>p{
    height:30px;
    line-height: 30px;
}
.foot>p>img{
    vertical-align: middle;
    margin-right: 5px;
}
.SplitPage{
    width: 1200px;
    margin: 20px auto;
    text-align: center;
}
.SplitUl{
    font-size: 0;
}
.SplitUl>li{
    display: inline-block;
}
.SplitUl>li>a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #41A809;
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
}
.active{
    background: #41A809;
    color: #fff !important;
}