<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>机构发布-个人中心</title>
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/jeDate_test.css}">
    <link rel="stylesheet" th:href="@{/css/jedate.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" media="screen"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jedate.js}"></script>
</head>
<body>
<div class="box">
    <h3>填写基本信息</h3>
    <div class="title">机构信息</div>
        <form th:action="@{/organization/addOrganization}" method="post" id="myform">
            <table class="table table-hover table-bordered">
                <tr>
                    <td>机构名称:	</td>
                    <input type="hidden"  th:value="${session.user.userId}" name="userId">
                    <td><input type="text" name="organizationName" class="form-control" required></td>
                    <input type="hidden"  th:value="${session.user.userId}">
                    <td>所在国家:	</td>
                    <td><input type="text" name="organizationCountry" class="form-control" required></td>
                </tr>
                <tr>
                    <td>所在地区:	</td>
                    <td><input type="text" name="organizationRegion" class="form-control" required /></td>
                    <td>法人类别:	</td>
                    <td><input type="text" name="legalCategory" class="form-control" required /></td>
                </tr>
                <tr>
                    <td>机构简介:</td>
                    <td style="border-right: none;"><input type="text" name="organizationIntroduce" class="form-control" required /></td>
                    <td>地址:	</td>
                    <td><input type="text" name="contactAddress" class="form-control" required /></td>
                </tr>
                <tr>
                    <td>联系人:</td>
                    <td><input type="text" name="linkman" class="form-control" required /></td>
                    <td>电话:</td>
                    <td><input type="text" name="phone" class="form-control" required/></td>
                </tr>
                <tr>
                    <td>邮箱:	</td>
                    <td><input type="text" name="email" class="form-control" required /></td>
                    <td>网址:	</td>
                    <td><input type="text" name="organizationUrl" class="form-control" required /></td>
                </tr>
                <tr>
                    <td>机构类型:	</td>
                    <td style="border-right:none;">
                        <div th:each="type : ${typeList}">
                             <input type="radio" name="typeName" th:id="${type.typeName}" th:value="${type.typeName}" required/><label
                                th:text="${type.typeName}" th:for="${type.typeName}"></label>
                        </div>
                    </td>
                    <td style="border-right: none;border-left: none;"></td>
                    <td style="border-left: none;"></td>

                </tr>
                <tr>
                    <td colspan="6" class="pn-fbutton">
                        <input type="submit" value="提交"  class="btn btn-info" id="change"/>
                        <input type="button" value="重置"  class="btn btn-info" id="cancel" style="background-color: orangered" onclick="fomrReset()"/>
                    </td>
                </tr>
            </table>
        </form>
</div>
<script th:src="@{/js/demo.js}"></script>
<script>
    function fomrReset()
    {
        document.getElementById("myform").reset();
    }

</script>
</body>
</html>