<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>供需发布-个人中心</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.css}">
    <link rel="shortcut icon"type="image/x-icon" th:href="@{/images/favicon.ico}"media="screen" />
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div class="box">
    <h3>填写基本信息</h3>
    <div class="title">注册信息</div>
    <form action="">
        <form>
            <table class="table table-hover table-bordered">
                <tr>
                    <td>*需求名字:	</td>
                    <td>1763608200@qq.com</td>
                    <td>*预期价格:	</td>
                    <td>zhangjingao</td>
                </tr>
                <tr>
                    <td>*需求者:	</td>
                    <td><input type="password" name="" class="form-control" id="condition" /></td>
                    <td>*需求说明:	</td>
                    <td><input type="password" name="" class="form-control" id="price1" /></td>
                </tr>
                <tr>
                    <td>发布时间:	</td>
                    <td><input type="text" name="" class="form-control" id="price2" /></td>
                    <td>联系人:</td>
                    <td><input type="text" name="" class="form-control" id="info" /></td>
                </tr>
                <tr>
                    <td>*电话:</td>
                    <td><input type="text" name="" class="form-control" id="details" /></td>
                    <td>邮箱:</td>
                    <td><input type="text" name="" class="form-control" id="details" /></td>
                </tr>
                <tr>
                    <td colspan="6" class="pn-fbutton">
                        <input type="button" value="提交"  class="btn btn-info" id="change" onclick="update()"/>
                        <input type="button" value="重置"  class="btn btn-info" id="cancel" style="background-color: orangered"/>
                    </td>
                </tr>
            </table>
        </form>

    </form>
</div>

</body>
</html>