<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>需求列表-农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="shortcut icon"type="image/x-icon" th:href="@{/images/favicon.ico}" media="screen" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/cg-bang.css}">
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div th:include="common/common :: header"></div>
<!--主体-->
<div class="current">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <a th:href="@{/HomeController/home}" style="margin-left: 10px;">首页</a>  >><a th:href="@{/demand/selectAllDemand}">列表展示</a>
</div>
<div class="cg-title">
    <img th:src="@{/images/san_lie_06.jpg}" alt="">
    <span style="color: #41A809;font-weight: 800">需求列表</span>
</div>
<div class="cg-list">
    <ul>
        <li th:each="demand : ${demandList}">
            <a th:href="@{/demand/demandDetails(demandId=${demand.demandId})}" th:text="${demand.demandName}"></a>
            <span style='float: right;margin-right: 10px;'  th:text="${#temporals.format(demand.releaseTime, 'yyyy-MM-dd')}"></span>
        </li>
    </ul>
    <div class="fenye">
        <a href="javascript:history.back(-1)">【返回】</a>
        <a href="">上一页</a>
        <span>当前页数：[1/18]</span>
        <a href="">下一页</a>
        <a href="">最后一页</a>
        转到第 <input type="text">页
        <input type="submit" value="GO">
    </div>
</div>
<!--尾部-->
<footer>
    <div class="foot">
        <a href="">联系我们</a>|
        <a href="">关于我们</a>|
        <a href="">免责声明</a><br>
        <p>Copyright©2012-2019 农转网 版权所有 京ICP备05039029号</p>
        <p>主办单位：农业部科技教育司 承办单位：中国农学会 农业部人力资源开发中心</p>
        <p>技术支持单位：河南科技学院信息工程学院未来工作室</p>
        <p>不良信息举报中心 网络110报警服务</p>
        <p><img src="images/beian.PNG" alt="">京公网安备 11010502030296号</p>

    </div>
</footer>

<script>
    $(function () {
        var pageView=$('.pageView').val();
        $('.text').text(pageView);

    })
</script>
</body>
</html>