
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>专家服务-农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/expert.css}">
    <link rel="shortcut icon"type="image/x-icon" th:href="@{/images/favicon.ico}" media="screen" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/htmleaf-demo.css}">
    <link rel="stylesheet" th:href="@{/css/MxSlider.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:include="common/common :: header"></div>
<!--主题-->
<div class="current">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <a th:href="@{/HomeController/home}" style="margin-left: 10px;">首页</a> >><a th:href="@{/HomeController/ExpertsHome}">专家服务</a>
</div>
<div class="cg-contain">
    <div class="left">
        <!--所有专家分类-->
        <img th:src="@{/images/cg_031.jpg}" alt="">
        <ul>
            <li th:each="type : ${typeList}"><i class="fa fa-forward" aria-hidden="true"></i><a href="" th:text="${type.typeName}">种业</a></li>
        </ul>

        <img th:src="@{/images/cg_expert2.jpg}" alt="" style="z-index: 1">
        <ul class="area" th:each="expertsRanking: ${expertsRankingList}">
            <li><a href="" th:text="${expertsRanking.expertsName}">北京</a></li>
        </ul>
    </div>
    <div class="middle">
        <div class="htmleaf-container">
            <!-- My box for the slider -->
            <div class="mx-bugs_bunny">
                <!-- Slider -->
                <div class="ZI-slider">
                    <div>
                        <img th:src="@{/img/slide1.jpg}" alt="" />
                    </div>
                    <div>
                        <img th:src="@{/img/slide2.jpg}" alt="" />
                    </div>
                    <div>
                        <img th:src="@{/img/slide3.jpg}" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="best_new">-->
            <!--<a href="" class="zj_more">更多</a>-->
            <!--<ul style="padding: 34px 0 0 15px;">-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">欧拉型藏羊繁育及生产技术推广</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">强盛1号</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">节水抗旱稻不育系、杂</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">抗植物病毒活性新农药</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">优质超细毛羊和绒山羊</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">大田专用缓/控释肥料</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">评价暑热证及中药药效的基因芯片</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">新型湍旋式废气处理装置-->
                <!--</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="jishu">-->
            <!--<a href="" class="zj_more">更多</a>-->
            <!--<ul style="padding: 34px 0 0 15px;">-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">欧拉型藏羊繁育及生产技术推广</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">强盛1号</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">节水抗旱稻不育系、杂</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">抗植物病毒活性新农药</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">优质超细毛羊和绒山羊</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">大田专用缓/控释肥料</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">评价暑热证及中药药效的基因芯片</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
                <!--<li><i class="fa fa-forward" aria-hidden="true"></i><a href="">新型湍旋式废气处理装置-->
                <!--</a><span style="float: right;margin-right: 25px;color: #cccccc;">2018-10-12</span></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
    <div class="right">
        <a href=""><img th:src="@{/images/zj_03.jpg}" alt=""></a>
        <img th:src="@{/images/zj_04.jpg}" alt="">
        <!--专家推荐-->
        <div class="expert_one_people">
            <a href="" class="zj_more" style="top: -30px;">更多</a>
            <div class="erpert_picbox">
                <div class="expert_picbox">
                    <img src="images/expert1.jpg" width="45" height="45">
                </div>
                <div class="expert_picex">
                    <a href="" target="_blank">康绍忠</a><br>
                    <sapn>农业水土工程、旱区农业节</sapn>
                </div>
            </div>
        </div>
        <!--最新专家-->
        <img th:src="@{/images/zj_054.jpg}" alt="" style="margin-top: 22px">
        <div class="expert_one_people">
            <a href="" class="zj_more" style="top: -30px;">更多</a>
            <div class="erpert_picbox" th:each="expertsTime : ${expertsTimeList}">
                <div class="expert_picbox">
                    <img th:src="${expertsTime.pictureAddress}" width="45" height="45">
                </div>
                <div class="expert_picex">
                    <a href="" target="_blank" th:text="${expertsTime.expertsName}"></a><br>
                    <span th:text="${expertsTime.expertsEducation}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--尾部-->
<div th:include="common/common :: footer"></div>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script>window.jQuery || document.write('<script th:src="@{/js/jquery-1.11.0.min.js}"><\/script>')</script>
<script th:src="@{/js/MxSlider.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $( '.ZI-slider' ).MxSlider( {
            autoPlay: true,
            dots: true,
            timeSlide: 500
        } );
    })
</script>
</body>
</html>