<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索-农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="shortcut icon"type="image/x-icon" th:href="@{/images/favicon.ico}" media="screen" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:include="common/common :: header"></div>
<!--主题-->
<div class="current">
    <a th:href="@{/HomeController/home}">首页</a>  >>  <a href="javascript:;">搜索</a>
</div>
<div class="se_contain">
    <div class="gjc">
        <span>关键词：</span>&nbsp;&nbsp;&nbsp;<span style="color: #B80F0C;" th:text="${findName}"></span>
    </div>
    <ul>
        <li><a th:href="@{/HomeController/globalSearch}">全部</a> <span th:text="'('+${TotalNumber}+')'"> </span></li>
        <li>
            <a th:href="@{/HomeController/globalSearch/Achievement(findName=${findName})}">成果<span th:text="'('+${AchievementNumber}+')'"></span></a></li>
        <li>
        <a th:href="@{/HomeController/globalSearch/Experts(findName=${findName})}">专家<span th:text="'('+${ExpertsNumber}+')'"></span></a>
        </li>
        <li>
            <a th:href="@{/HomeController/globalSearch/Organization(findName=${findName})}">机构<span th:text="'('+${OrganizationNumber}+')'"></span></a>
        </li>
    </ul>
    <ul>
        <li>
            <form th:action="@{/HomeController/globalSearch}" method="post">
                <input type="text" placeholder="再次搜索" class="agin" name="findName" required>
                <input type="submit" value="搜索" class="se_button">
            </form>
        </li>
    </ul>
    <div class="wenzhang">
        <ul>
            <!--成果-->
            <li th:if="Achievement!=null" th:each="find : ${findAchievement}">
                <a th:href="@{/achievement/achievementDetails(achievementId=${find.achievementId})}" th:text="${find.achievementName}"></a>
                <span th:text="${find.releaseTime}"></span>
            </li>
            <!--专家-->
            <li th:if="Experts!=null" th:each="e : ${findExperts}">
                <a th:href="@{/HomeController/expertsDetails(expertsId=${e.expertsId})}" th:text="${e.expertsName}"></a>
                <!--<span th:text="${e.}"></span>-->
            </li>
            <!--机构-->
            <li th:if="Organization!=null" th:each="Organization : ${findOrganization}">
                <a th:href="@{/HomeController/organizationDetails(organizationId=${Organization.organizationId})}" th:text="${Organization.organizationName}"></a>
                <!--<span th:text="${Organization.}"></span>-->
            </li>
        </ul>
    </div>
</div>
<!--<div class="fenye">-->
    <!--<a href="javascript:history.back(-1)">【返回】</a>-->
    <!--<a href="">上一页</a>-->
    <!--<span>当前页数：[1/18]</span>-->
    <!--<a href="">下一页</a>-->
    <!--<a href="">最后一页</a>-->
    <!--转到第 <input type="text">页-->
    <!--<input type="submit" value="GO">-->
<!--</div>-->
<!--分页-->
<div class="SplitPage" th:if="${TotalPages > 0}">
    <ul class="SplitUl" th:if="${TotalPages > 1}">
        <li th:if="${Number == 1}">
            <a href="javascript:;">首页</a>
        </li>
        <!--//跳转至第一页-->
        <li th:if="${Number > 1}">
            <a th:href="@{/HomeController/globalSearch(pageNum=1)}">首页</a>
        </li>
        <li th:if="${Number > 1}">
            <a th:href="@{/HomeController/globalSearch(pageNum=${Number-1})}">Prev</a>
        </li>
        <!--//请求页数-1-->
        <li th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" class="active" href="javascript:;"
               th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{/HomeController/globalSearch(pageNum=${i})}" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li th:if="${Number != TotalPages}">
            <a th:href="@{/HomeController/globalSearch(pageNum=${Number+1})}">Next</a>
        </li><!--//请求页数+1-->
        <li th:if="${Number == TotalPages}">
            <a class="noclick" href="javascript:;">尾页</a>
        </li>
        <li th:if="${Number != TotalPages}">
            <a th:href="@{/HomeController/globalSearch(pageNum=${TotalPages})}">尾页</a>
        </li><!--//跳转至第Number页-->
    </ul>
</div>
</body>
</html>