<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{/css/lunbo.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:include="common/common :: header"></div>
<!--轮播图-->
<div class="container">
    <div class="wrap" style="left: -1200px;">
        <img th:src="@{/images/lunbo5.jpg}" alt="5">
        <img th:src="@{/images/lunbo1.jpg}" alt="1">
        <img th:src="@{/images/lunbo2.jpg}" alt="2">
        <img th:src="@{/images/lunbo3.jpg}" alt="3">
        <img th:src="@{/images/lunbo4.jpg}" alt="4">
        <img th:src="@{/images/lunbo5.jpg}" alt="5">
        <img th:src="@{/images/lunbo1.jpg}" alt="1">
    </div>
    <div class="button">
        <span class="on"></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <a href="javascript:void(0);" class="jt jt_left">&lt;</a>
    <a href="javascript:void(0);" class="jt jt_right">&gt;</a>
</div>
<!--主题内容-->
<div class="contain">
    <!--新闻-->
    <div class="one">
        <div class="news">
            <div class="item">
                <i class="fa fa-life-ring" aria-hidden="true"></i>
                <a href="" style="font-weight: 800" class="title">新闻中心</a>
                <a href=""  class="more">更多</a>
            </div>
            <ul class="newsCon">
                <li th:each="news: ${newsList}">
                    <a target="_blank" href="" title=""><span th:text="${news.announcementTitle}"></span></a>
                    <span style="color:#666;float: right" th:text="${#temporals.format(news.releaseTime, 'yyyy-MM-dd')}"></span>
                </li>
            </ul>
        </div>
        <!--<div class="service">-->
            <!--<div class="tips">服务资源</div>-->
            <!--<div class="oDiv">-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu1.jpg}" alt=""></a>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu2.jpg}" alt=""></a>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu3.jpg}" alt=""></a>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu4.jpg}" alt=""></a>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu5.jpg}" alt=""></a>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu6.jpg}" alt=""></a>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu7.jpg}" alt=""></a>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu8.jpg}" alt=""></a>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a href=""><img th:src="@{/images/jishu9.jpg}" alt=""></a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!--成果展示-->
    <div class="two">
        <div class="item" style="width: 1200px;margin-bottom: 20px">
            <i class="fa fa-life-ring" aria-hidden="true"></i>
            <a href="" style="font-weight: 800" class="title">成果展示</a>
            <a href=""  class="more">更多</a>
        </div>
        <div class="imgkuang">
            <ul>
                <li class="lii" th:each="achievement : ${achievementList}">
                    <a href="#"><img th:src="${achievement.pictureAddress}" style="height:200px"/></a>
                </li>
            </ul>

        </div>
    </div>
    <!--供需对接专区-->
    <div class="three">

        <div class="item" style="width: 1200px;margin-bottom: 20px">
            <i class="fa fa-life-ring" aria-hidden="true"></i>
            <a href="" style="font-weight: 800" class="title">供需对接专区</a>
            <a href=""  class="more">更多</a>
        </div>
        <!--技术供给-->
        <div class="supplyDemand">
            <div class="h_block">
                <a style="float: left">技术供给</a>
                <a href="" style="float: right">更多</a>
            </div>
            <ul >
                <li th:each="achievement : ${achievementList}">
                    <i class="fa fa-forward" aria-hidden="true"></i><a href="" th:title="${achievement.achievementIntroduce}" th:text="${achievement.achievementIntroduce}" target="_blank">
                    </a>
                    <!--<span style="float: right" th:text="${#dates.format(achievement.endTime,'yyyy-MM-dd')}"></span>-->
                    <span th:text="${achievement.endTime}"></span>
                </li>
            </ul>
        </div>
        <!--技术需求-->
        <div class="supplyDemand" style="float: right">
            <div class="h_block">
                <a style="float: left">技术需求</a>
                <a href="" style="float: right">更多</a>
            </div>
            <ul>
                <li th:each="demand : ${demandList}">
                    <i class="fa fa-forward" aria-hidden="true"></i><a href="" th:title="${demand.demandIntroduce}" target="_blank" th:text="${demand.demandIntroduce}">
                    </a>
                    <!--<span style="float: right" th:text="${#dates.format(demand.releaseTime,'yyyy-MM-dd')}"></span>-->
                    <span th:text="${demand.releaseTime}"></span>
                </li>
            </ul>
        </div>
        <!--成果推荐-->
        <div class="supplyDemand wrap" style="margin-top: 20px">
            <label>
                <span>成果推荐</span>
                <input type="radio" name="tab" checked>
                <div>
                    <ul>
                        <li >
                            <i class="fa fa-forward" aria-hidden="true"></i><a href="" title="一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末的制备方法" target="_blank">
                            一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末
                        </a>
                        </li>
                        <li>
                            <i class="fa fa-forward" aria-hidden="true"></i><a href="" title="一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末的制备方法" target="_blank">
                            一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末
                        </a>
                        </li>
                        <li>
                            <i class="fa fa-forward" aria-hidden="true"></i><a href="" title="一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末的制备方法" target="_blank">
                            一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末
                        </a>
                        </li>
                        <li>
                            <i class="fa fa-forward" aria-hidden="true"></i><a href="" title="一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末的制备方法" target="_blank">
                            一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末
                        </a>
                        </li>
                        <li>
                            <i class="fa fa-forward" aria-hidden="true"></i><a href="" title="一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末的制备方法" target="_blank">
                            一种盐焗鸡卤汁分离鸡的精炼方法及鸡油粉末
                        </a>
                        </li>
                    </ul>
                </div>
            </label>
            <label>
                <span>机构推荐</span>
                <input type="radio" name="tab">
                <div>
                    <ul>
                        <li th:each="organization: ${organizationList}">
                            <i class="fa fa-forward" aria-hidden="true"></i><a href="" th:title="${organization.organizationIntroduce}" th:text="${organization.organizationIntroduce}" target="_blank">
                        </a>
                        </li>
                    </ul>
                </div>
            </label>
            <label>
                <span>专家推荐</span>
                <input type="radio" name="tab">
                <div>
                    <ul>
                        <li th:each="experts : ${expertsList}">
                            <i class="fa fa-forward" aria-hidden="true"></i><a href="" th:title="${experts.expertsName}" th:text="${experts.expertsName}" target="_blank">
                        </a>
                        </li>
                    </ul>
                </div>
            </label>
        </div>
        <!--成功案例-->
        <div class="supplyDemand" style="float: right;margin-top: 20px">
            <div class="h_block">
                <a style="float: left">成功案例</a>
                <a href="" style="float: right">更多</a>
            </div>
            <ul>
                <li th:each="example : ${exampleList}">
                    <i class="fa fa-forward" aria-hidden="true"></i><a href="" th:title="${example.exampleTitle}" th:text="${example.exampleTitle}" target="_blank">
                </a><span style="float: right" th:text="${example.releaseTime}"></span>
                </li>
            </ul>
        </div>


    </div>
    <!--最新资讯-->
    <div class="three">

        <div class="item" style="width: 1200px;margin-bottom: 20px">
            <i class="fa fa-life-ring" aria-hidden="true"></i>
            <a href="" style="font-weight: 800" class="title">最新资讯</a>
            <a href=""  class="more">更多</a>
        </div>
        <!--技术供给-->
        <div class="supplyDemand">
            <div class="h_block">
                <a style="float: left">交易活动动态</a>
                <a href="" style="float: right">更多</a>
            </div>
            <ul>
                <li th:each="trading : ${tradingList}">
                    <i class="fa fa-forward" aria-hidden="true"></i><a href="" th:title="${trading.announcementTitle}"  th:text="${trading.announcementTitle}" target="_blank">
                </a><span style="float: right" th:text="${trading.releaseTime}"></span>
                </li>
            </ul>
        </div>
        <!--政策中心-->
        <div class="supplyDemand" style="float: right">
            <div class="h_block">
                <a style="float: left">政策中心</a>
                <a href="" style="float: right">更多</a>
            </div>
            <ul>
                <li th:each="policy : ${policyList}">
                    <i class="fa fa-forward" aria-hidden="true"></i><a href="" th:title="${policy.announcementTitle}" th:text="${policy.announcementTitle}" target="_blank">
                </a><span style="float: right" th:text="${policy.releaseTime}"></span>
                </li>
            </ul>
        </div>


    </div>
</div>
<!--尾部-->

</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/slide.js}"></script>
<script th:src="@{/js/startMove.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script>

    var odiv2 = document.getElementsByClassName('imgkuang')[0];
    var ali = odiv2.getElementsByClassName('lii');
    var aspeed = -5;
    var timer = null;
    odiv2.innerHTML += odiv2.innerHTML;
    odiv2.style.width = ali[0].offsetWidth * ali.length + 'px';
    odiv2.onmouseover = function () { clearInterval(timer); };
    function a() {
        timer = setInterval(function () {
            odiv2.style.left = odiv2.offsetLeft + aspeed + 'px';
            if (odiv2.offsetLeft < -odiv2.offsetWidth / 2) {
                odiv2.style.left = '0px';
            }
        }, 100);
    };
    odiv2.onmouseout = a;
    a();
</script>

</html>