<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{/css/center.css}">
    <link rel="shortcut icon"type="image/x-icon" th:href="@{/images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/center.js}"></script>
</head>
<body>
<div class="roof">
    <div class="left">
        <img th:src="@{/images/logo.jpg}" alt="" class="logo">
        <img th:src="@{/images/tttle2.png}" alt="" class="tttle2">
    </div>
    <div class="right">
        <div class="user">欢迎 <span th:text="${session.user.userName}"></span></div>
        <div class="back" style="padding: 0 35px;"><a th:href="@{/HomeController/home}">返回首页</a></div>
        <div class="back"><a th:href="@{/LogUser/exit}" class="tuichu">退出</a></div>
    </div>

</div>
<!--左侧侧边栏-->
<div class="side-left">
    <div>
        <div class="list_one addColor" id="modifyPassword">
            <i class="fa fa-address-book-o" aria-hidden="true"></i>修改密码
        </div>
    </div>
    <div th:if="${session.user.userLevel}==2">
        <div class="list_one" id="result"> <i class="fa fa-balance-scale" aria-hidden="true"></i>成果服务</div>
        <div class="list_two">
            <div class="addColor" id="result1">成果发布</div>
            <div class="addColor" id="result2">成果发布管理</div>
        </div>
    </div>
    <div>
        <div class="list_one"><i class="fa fa-telegram" aria-hidden="true"></i>需求服务</div>
        <div class="list_two">
            <div class="addColor" id="supply">需求发布</div>
            <div class="addColor" id="supplyg">需求发布管理</div>
        </div>
    </div>
    <!--普通用户-->
    <div>
        <div class="list_one" id="two"><i class="fa fa-user-circle-o" aria-hidden="true"></i>专家服务</div>
        <div class="list_two">
            <input th:type="hidden" th:value="${session.user.userLevel}">
            <div  th:if="${session.user.userLevel } == 3 "  class="addColor" id="expertInfo">申请专家</div>
            <div  th:if="${session.user.userLevel } == 2 " class="addColor" id="expertsUserDetails">专家详情</div>
        </div>
    </div>
    <div>
        <div class="list_one" id="two"><i class="fa fa-university" aria-hidden="true"></i>机构服务</div>
        <div class="list_two">
            <div class="addColor" id="addOrganization">机构发布</div>
            <div class="addColor" id="userOrganizationList">机构发布管理</div>
        </div>
    </div>
    <div>
        <div class="list_one" id="two"><i class="fa fa-window-restore" aria-hidden="true"></i></i>案例服务</div>
        <div class="list_two">
            <div class="addColor" id="addExample">案例发布</div>
            <div class="addColor" id="userExampleList">案例发布管理</div>
        </div>
    </div>
</div>
<!--右侧内容-->
<div class="frame-div">
    <iframe th:src="@{/achievement/toAddAchievement}" frameborder="0" class="ifm"  scrolling="auto"></iframe>
</div>
</body>
</html>