<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>机构详情-农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="shortcut icon"type="image/x-icon" href="images/favicon.ico"media="screen" />
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/me_details.css">
</head>
<body>
<!--信息-->
<div class="box">
    <div class="userMsg">
        <ul>
            <li><a href="">忘记密码?</a></li>
            <li><a href="">请注册</a></li>
            <li><a href="">请登录</a></li>
            <li>欢迎：<span>客人</span></li>
        </ul>
    </div>
</div>

<!--头部图片-->
<div class="header">
    <img src="images/favicon.png" alt="" style="vertical-align: super">
    <img src="images/title.png" alt="">
    <input type="text" placeholder="请输入要搜索的关键词" class="search">
    <input type="submit" value="搜索" class="submit">
</div>
<!--导航栏-->
<div class="nav">
    <ul class="clear">
        <li><a href="">首页</a></li>
        <li class="hover_li">
            <a href="">成果展示</a>
            <ul class="son">
                <li><a href="" title="成果发布">成果发布</a></li>
                <li><a href="" title="成果分类导航">成果分类导航</a></li>
                <li><a href="" title="成果检索">成果检索</a></li>
                <!--<li><a href="" title="技术风云榜">技术风云榜</a></li>-->
                <li><a href="" title="优秀成果推荐">优秀成果推荐</a></li>
                <!--<li><a href="" title="视频图文展示">视频图文展示</a></li>-->
            </ul>
        </li>
        <li><a href="">机构服务</a></li>
        <li class="hover_li">
            <a href="">专家服务</a>
            <ul class="son">
                <li><a href="" title="专家分类导航">专家分类导航</a></li>
                <li><a href="" title="专家检索">专家检索</a></li>
                <li><a href="" title="专家推荐">专家推荐</a></li>
                <li><a href="" title="技术难题发布">技术难题发布</a></li>
                <li><a href="" title="专家自荐">专家自荐</a></li>
            </ul>
        </li>
        <li class="hover_li">
            <a href="">供需服务</a>
            <ul class="son">
                <li><a href="" title="供需对接">供需对接</a></li>
                <li><a href="" title="成果推介">成果推介</a></li>
                <li><a href="" title="成功案例">成功案例</a></li>
            </ul>
        </li>
        <li><a href="">政策服务</a></li>
        <div class="clearfloat"></div>
    </ul>
</div>
<!--主题-->
<div class="current">
    <ul class="tab">
        <li>空间首页</li>
        <li>科技成果</li>
        <li>拥有专家</li>
    </ul>
</div>
<div class="me_con">
    <div class="me_left">
        <div class="center">
            <h4><a href="">全国工商联人才交流服务中心</a></h4>
        </div>
        <div class="img_bian">
            <img src="images/show9.JPG" alt="">
        </div>
        <div class="me_details">
            <div>所在地区：<span>---</span></div>
            <hr>
            <div>联系方式：<span>---</span></div>
            <ul>
                <li>联系人：<span></span></li>
                <li>电 话：<span></span></li>
                <li>传 真：<span></span></li>
                <li>邮 箱：<span></span></li>
                <li>网 址：<span></span></li>
                <li>地 址：<span></span></li>
            </ul>
        </div>
    </div>
    <div class="me_right">
        <div class="people">
            <img src="images/peopleicon.png" alt=""><span>机构基本信息</span><br>
            <ul>
                <li>所在国家：<span>中国大陆</span></li>
                <li>法人类别：<span>事业单位法人</span></li>
                <li>主营部门:<span>--</span></li>
                <li>机构类型:<span>科研教学单位</span></li>
                <li>所在地区:<span>--</span></li>
                <li>组织机构代码<span>--</span></li>
                <li>成立日期：--</span></li>
            </ul>
        </div>
        <div class="people">
            <img src="images/icon2.png" alt=""><span>机构简介</span><br>
            <p>
                中国农业大学是国家“211工程” 和“985工程”重点建设的教育部直属高校。现任党委书记姜沛民，校长柯炳生。
                中国农业大学是我国现代农业高等教育的起源地，其历史起自于1905年成立的京师大学堂农科大学。1949年9月，
                由北京大学农学院、清华大学农学院和华北大学农学院合并为北京农业大学。1952年10月，北京农业大学农业机
                械系与华北农业机械专科学校、中央农业部机耕学校合并成立北京机械化农业学院，同年11月，平原农学院并入北
                京机械化农业学院。1953年7月更名为北京农业机械化学院，1985年更名为北京农业工程大学。国务院于1954年和
                1984年将北京农业大学列为全国六所重点院校和全国重点建设的十所高等院校之一，于1960年10月将北京农业机械
                化学院列为全国64所重点大学之一。1995年9月，经国务院批准，北京农业大学与北京农业工程大学合并成立中国农
                业大学，江泽民同志亲自题写校名。2003年5月4日，国务院总理温家宝视察中国农业大学，发表了重要讲话。2005年1
                0月13日，全国人大常委会吴邦国委员长视察中国农业大学，祝贺农大建校百年，鼓励学校再创辉煌。2009 年 5 月 2
                日，中共中央总书记、国家主席胡锦涛视察中国农业大学，与师生代表亲切座谈，对青年学生提出了殷切期望，对学校提
                出了“加快建设世界一流农业大学步伐”的要求。2010年5月2日，胡锦涛总书记给中国农业大学师生回信，鼓励全校师生为
                发展现代农业作出更大贡献。
            </p>
        </div>
        <div class="people" >
            <img src="images/metal.png" alt=""><span>主要科研领域</span><br>
            <p>
               暂无
            </p>
        </div>
    </div>
</div>
<!--尾部-->
<footer>
    <div class="foot">
        <a href="">联系我们</a>|
        <a href="">关于我们</a>|
        <a href="">免责声明</a><br>
        <p>Copyright©2012-2019 农转网 版权所有 京ICP备05039029号</p>
        <p>主办单位：农业部科技教育司 承办单位：中国农学会 农业部人力资源开发中心</p>
        <p>技术支持单位：河南科技学院信息工程学院未来工作室</p>
        <p>不良信息举报中心 网络110报警服务</p>
        <p><img src="images/beian.PNG" alt="">京公网安备 11010502030296号</p>

    </div>
</footer>

</body>
</html>