 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>机构列表-农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="shortcut icon"type="image/x-icon" th:href="@{/images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/me_scientific.css}">
</head>
<body>
<div th:include="common/common :: header"></div>
<!--主体-->
<div class="current">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <a th:href="@{/HomeController/home}" style="margin-left: 10px;">首页</a> >><a href="#">机构分类</a>
</div>
<div class="cg-list">
    <div class="query">
        <ul style="overflow: hidden">
            <li>名称：<input type="text"></li>
            <li> 所在省：<select name="" id="">
                            <option value="">河南省</option>
                            <option value="">江苏省</option>
                        </select>
            </li>
            <li><input type="submit" value="查询" class="me-submit"></li>
        </ul>
    </div>
    <ul class="college_inro">
        <li th:each="OrganizationType : ${OrganizationTypeList }">
            <span  th:text="${OrganizationType.typeName}">中国农业大学</span><br>
            <span>机构类型：</span><span th:text="${OrganizationType.organizationTypeId}">--</span>&nbsp;&nbsp; <br>
        </li>
    </ul>
    <div class="fenye">
        <a href="javascript:history.back(-1)">【返回】</a>
        <a href="">上一页</a>
        <span>当前页数：[1/18]</span>
        <a href="">下一页</a>
        <a href="">最后一页</a>
        转到第 <input type="text">页
        <input type="submit" value="GO">
    </div>
</div>
<div th:include="common/common :: footer"></div>


</body>
</html>