<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>政策资讯-农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/htmleaf-demo.css}">
    <link rel="stylesheet" th:href="@{/css/policy.css}">
    <link rel="shortcut icon"type="image/x-icon" th:href="@{/images/favicon.ico}"media="screen" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />

    <link rel="stylesheet" th:href="@{/css/MxSlider.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<!--信息-->
<div th:include="common/common :: header"></div>
<!--主题-->
<div class="current">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <a th:href="@{/HomeController/home}" style="margin-left: 10px;">首页</a> >><a th:href="@{/HomeController/PolicyHome}">政策展示</a>
</div>
<div class="cg-contain">
    <div class="left">
        <!--政策-->
        <a href=""><img th:src="@{/images/zc_10.jpg}" alt="" style="height: 34px;"></a>
        <ul >
            <li th:each="PolicyCenter : ${PolicyCenter}">
                <i class="fa fa-forward" aria-hidden="true"></i>
                <a th:href="@{/admin/announcementDetails(announcementId=${PolicyCenter.announcementId})}" th:text="${PolicyCenter.announcementTitle}"></a>
                <span style="margin-right: 10px;color: #cccccc;float: right"  th:text="${#temporals.format(PolicyCenter.releaseTime, 'yyyy-MM-dd')}"></span>
            </li>
        </ul>
    </div>
    <div class="middle">
        <div class="htmleaf-container">
            <!-- My box for the slider -->
            <div class="mx-bugs_bunny">
                <!-- Slider -->
                <div class="ZI-slider">
                    <div>
                        <img th:src="@{/img/slide1.jpg}" alt="" />
                    </div>
                    <div>
                        <img th:src="@{/img/slide2.jpg}" alt="" />
                    </div>
                    <div>
                        <img th:src="@{/img/slide3.jpg}" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="best_new">
         <!--新闻中心-->
                <a href="" style="font-weight: 800;left: 14px;" class="title zj_more">新闻中心</a>
                <a href="" class="zj_more">更多</a>
            <ul style="padding: 20px 0 0 15px;">
            <li th:each="NewsCenter : ${NewsCenter}">
                <i class="fa fa-forward" aria-hidden="true" style="color: #41A809"></i>
                <a th:href="@{/admin/announcementDetails(announcementId=${NewsCenter.announcementId})}" style="color: #74777b;" th:text="${NewsCenter.announcementTitle}"></a>
                <span style="margin-right: 10px;color: #cccccc;float: right"  th:text="${#temporals.format(NewsCenter.releaseTime, 'yyyy-MM-dd')}"></span>
            </li>
        </ul>
        </div>
    </div>
    <div class="right">
        <!--交易活动-->
        <a href="" class="po_more">更多</a>
        <img th:src="@{/images/jf_05.jpg}" alt="" style="height: 34px;">
        <ul>
            <li th:each="Trading  : ${TradingActivity}">
                <i class="fa fa-forward" aria-hidden="true" ></i>
                <a th:href="@{/admin/announcementDetails(announcementId=${Trading.announcementId})}" th:text="${Trading.announcementTitle}">欧拉型藏羊繁育及生产技术推广</a>
            </li>
        </ul>
    </div>
</div>
<!--尾部-->
<div th:include="common/common :: footer"></div>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script>window.jQuery || document.write('<script th:src="@{/js/jquery-1.11.0.min.js}"><\/script>')</script>
<script th:src="@{/js/MxSlider.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $( '.ZI-slider' ).MxSlider({
            autoPlay: true,
            dots: true,
            timeSlide: 500
        });
    })
</script>
</body>
</html>