<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册信息-个人中心</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="shortcut icon"type="image/x-icon" href="images/favicon.ico"media="screen" />
    <script src="js/jquery.js"></script>
</head>
<body>
<div class="box">
    <h3>填写基本信息</h3>
    <div class="title">注册信息</div>
    <form action="">
        <form>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>*电子邮箱:	</th>
                    <td>1763608200@qq.com</td>
                </tr>
                <tr>
                    <th>*用户名:	</th>
                    <td>zhangjingao</td>
                </tr>
                <tr>
                    <th>*密码:	</th>
                    <td><input type="password" name="" class="form-control" id="condition" /></td>
                </tr>
                <tr>
                    <th>*确认密码:	</th>
                    <td><input type="password" name="" class="form-control" id="price1" /></td>
                </tr>
                <tr>
                    <th>手机:	</th>
                    <td><input type="text" name="" class="form-control" id="price2" /></td>
                </tr>
                <tr>
                    <th>座机:</th>
                    <td><input type="text" name="" class="form-control" id="info" /></td>
                </tr>
                <tr>
                    <th>*所在地区:</th>
                    <td>河南-郑州市-市辖区</td>
                </tr>
                <tr>
                    <th>昵称:</th>
                    <td><input type="text" name="" class="form-control" id="details" /></td>
                </tr>
                <tr>
                    <th>*类型:</th>
                    <td><input type="radio" name="1" id="">个人用户  <input type="radio" name="1" id="">科研教学机构  <input type="radio" name="1" id="">企业  <input type="radio" name="1" id="">中介服务机构</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" value="提交"  class="btn btn-info" id="change" onclick="update()"/>
                        <input type="button" value="重置"  class="btn btn-info" id="cancel" style="background-color: orangered"/>
                    </td>
                </tr>
            </table>
        </form>

    </form>
</div>

</body>
</html>