<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索-农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="shortcut icon"type="image/x-icon" href="images/favicon.ico"media="screen" />
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<!--信息-->
<div class="box">
    <div class="userMsg">
        <ul>
            <li><a href="">忘记密码?</a></li>
            <li><a href="">请注册</a></li>
            <li><a href="">请登录</a></li>
            <li>欢迎：<span>客人</span></li>
        </ul>
    </div>
</div>

<!--头部图片-->
<div class="header">
    <img src="images/favicon.png" alt="" style="vertical-align: super">
    <img src="images/title.png" alt="">
    <input type="text" placeholder="请输入要搜索的关键词" class="search">
    <input type="submit" value="搜索" class="submit">
</div>
<!--导航栏-->
<div class="nav">
    <ul class="clear">
        <li><a href="">首页</a></li>
        <li class="hover_li">
            <a href="">成果展示</a>
            <ul class="son">
                <li><a href="" title="成果发布">成果发布</a></li>
                <li><a href="" title="成果分类导航">成果分类导航</a></li>
                <li><a href="" title="成果检索">成果检索</a></li>
                <!--<li><a href="" title="技术风云榜">技术风云榜</a></li>-->
                <li><a href="" title="优秀成果推荐">优秀成果推荐</a></li>
                <!--<li><a href="" title="视频图文展示">视频图文展示</a></li>-->
            </ul>
        </li>
        <li><a href="">机构服务</a></li>
        <li class="hover_li">
            <a href="">专家服务</a>
            <ul class="son">
                <li><a href="" title="专家分类导航">专家分类导航</a></li>
                <li><a href="" title="专家检索">专家检索</a></li>
                <li><a href="" title="专家推荐">专家推荐</a></li>
                <li><a href="" title="技术难题发布">技术难题发布</a></li>
                <li><a href="" title="专家自荐">专家自荐</a></li>
            </ul>
        </li>
        <li class="hover_li">
            <a href="">供需服务</a>
            <ul class="son">
                <li><a href="" title="供需对接">供需对接</a></li>
                <li><a href="" title="成果推介">成果推介</a></li>
                <li><a href="" title="成功案例">成功案例</a></li>
            </ul>
        </li>
        <li><a href="">政策服务</a></li>
        <div class="clearfloat"></div>
    </ul>
</div>
<!--主题-->
<div class="current">
    <a href="">首页</a>  >>  <a href="">搜索</a>
</div>
<div class="se_contain">
    <div class="gjc">
        <span>关键词：</span>&nbsp;&nbsp;&nbsp;<span style="color: #B80F0C;">aaa</span>
    </div>
    <ul>
        <li><a href="">全部</a> <span>(32条)</span></li>
        <li><a href="">成果</a>  <span>（13条）</span></li>
        <li><a href="">专家</a> <span>（19条）</span></li>
        <li><a href="">机构</a> <span>（0条）</span></li>
    </ul>
    <ul>
        <li>
            <input type="text" placeholder="再次搜索" class="agin">
            <input type="submit" value="搜索" class="se_button">
        </li>
    </ul>
    <div class="wenzhang">
        <ul>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
        </ul>
    </div>
</div>
<div class="fenye">
    <a href="javascript:history.back(-1)">【返回】</a>
    <a href="">上一页</a>
    <span>当前页数：[1/18]</span>
    <a href="">下一页</a>
    <a href="">最后一页</a>
    转到第 <input type="text">页
    <input type="submit" value="GO">
</div>
</body>
</html>