<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索-农业科技成果转化交易服务平台</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="shortcut icon"type="image/x-icon" th:href="@{/images/favicon.ico}" media="screen" />
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:include="common/common :: header"></div>
<!--主题-->
<div class="current">
    <a th:href="@{/HomeController/home}">首页</a>  >>  <a href="">搜索</a>
</div>
<div class="se_contain">
    <div class="gjc">
        <span>关键词：</span>&nbsp;&nbsp;&nbsp;<span style="color: #B80F0C;">aaa</span>
    </div>
    <ul>
        <li><a href="">全部</a> <span>(32条)</span></li>
        <li><a href="">成果</a>  <span>（13条）</span></li>
        <li><a href="">专家</a> <span>（19条）</span></li>
        <li><a href="">机构</a> <span>（0条）</span></li>
    </ul>
    <ul>
        <li>
            <input type="text" placeholder="再次搜索" class="agin">
            <input type="submit" value="搜索" class="se_button">
        </li>
    </ul>
    <div class="wenzhang">
        <ul>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
            <li><a href="">检测水稻植株早衰的分子标记方法</a><span>2014-07-07</span></li>
        </ul>
    </div>
</div>
<div class="fenye">
    <a href="javascript:history.back(-1)">【返回】</a>
    <a href="">上一页</a>
    <span>当前页数：[1/18]</span>
    <a href="">下一页</a>
    <a href="">最后一页</a>
    转到第 <input type="text">页
    <input type="submit" value="GO">
</div>
</body>
</html>